@import "../../../less/globalStyles.less";
@import "./loanOrigination.less";

.loanIntegrationForm {

}

.integrationCard {
  height: 125px;
  cursor: pointer;
}

.integrationCard:hover {
  background-color: #E3E5E4;
}

.centerIcon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.errorOutline {
  color: @darkFooterGrey;
}

.xeroButton {
  &:extend(.loanOrigination__button_primary);
  background-color: @xeroBlue;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.xeroButton:hover {
  background-color: @deepBlue;
  color: #fff;
}

.xeroBody {
  max-width: 400px;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
}

.xeroFooter {
  text-align: center;
}