@import "../../../less/globalStyles.less";
@import "../../../less/loanOrigination.less";

.loanOriginationContainer__content {
  &:extend(.loanOriginationContainer__titleContainer_FormTitle);
  padding: 40px;
}

.loanOriginationContainer__titleContainer {
  width: 100%;
  background: #F1F2F2;
}

.businessSearchDescription__modal {
  z-index: 16000008 !important;
}

form {
  width: 100%;
}

.formControl {
  font-size: 30px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.integrationTitle {
  text-align: center;
}

.formSubtitle {
  color: @black !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.loanSliderContainer__subtitle {
  margin-bottom: 30px;
  font-size: 16px !important;
}

.loanSliderContainer__subtitle_light {
  &:extend(.loanSliderContainer__subtitle);
  color: @lightGrey !important;
  font-weight: 500 !important;
}

.loanSliderContainer__subtitle_bold {
  &:extend(.loanSliderContainer__subtitle);
  color: @black !important;
  font-weight: 500 !important;
}

.formSubject {
  font-size: 14px !important;
  font-weight: 800 !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  color: @darkGrey !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.typography {
  /* need to localise these styles or make sure they're loaded last */
  color: @darkGrey !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 16px !important;
}

.checkMark {
  fill: @lightGreen;
  width: 30px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: @lightBlue;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: rgba(99, 186, 222, 0.08);
}

.integrationLogo {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.LoanOrigination__divider {
  margin: 20px 0;
  background-color: #F6F6F6;
}

.typography a {
  color: @darkGrey !important;
  text-decoration: underline;
}

.modalClose:hover {
  color: @lightGreen;
}

.modalClose:focus {
  outline: none;
}

.loanOrigination__closeModal {

}




