@import "../../../less/globalStyles.less";
@import "./loanOrigination.less";

.sliderAmountsContainer {

}

.sliderAmount {
  color: @lightGreen;
}

.sliderAmount.disabled {
  color: @lightGrey;
}

:global(.selectPlaceholder__default .MuiSelect-selectMenu) {
  color: @lightGrey !important;
}

:global(.primarySelect .MuiSelect-selectMenu) {
  font-weight: 600 !important;
}

.loanMinimum,
.loanMaximum {
  color: @lightGrey !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.loanMinimum {
  text-align: left !important;
}

.loanMaximum {
  text-align: right !important;
}

.loanSlider__container {
  margin-bottom: 10px;
}

.loanSlider__container_inner {
  margin-top: 0;
}

:global(.MuiSlider-track) {
  background-color: @lightGreen;
}

:global(.MuiSlider-thumb) {
  background-color: @lightGreen;
  height: 20px;
  width: 20px;
  margin-top: -9px;
}

:global(.MuiSlider-trackAfter) {
  background-color: @lightGrey;
}

:global(.MuiSlider-thumb.MuiSlider-activated) {
  box-shadow: 0 0 0 14px rgba(63, 81, 181, 0.16);
}

.formControl_container {
  position: relative;
}

.formControl_container_validationIconContainer {
  position: absolute;
  right: 0;
  top: 37%;
}

.loanHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.loanOriginationForm {

}
