@import "../../../less/globalStyles.less";
@import "./loanOrigination.less";

.successContainer * {
  text-align: center;
}

.successContainer_successIcon {
  font-size: 80px;
  margin: 0 auto;
  display: block;
  color: @lightGreen;
}

.successContainer_lightFailIcon {
  &:extend(.successContainer_successIcon);
  color: @lightGrey;
}

.successContainer_failIcon {
  &:extend(.successContainer_successIcon);
  color: @bloodOrange;
}

.formTitle {
  margin-bottom: 5px;
}

.formSmallTitle {
  color: #3F4947;
  text-transform: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.successContainer .typography a {
  color: @darkGrey !important;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
}