<table border="0" cellpadding="0" cellspacing="0" width="690" style="max-width:690px;">
    <tbody>
    <tr>
        <td align="center" style="padding: 0px 0px 0px 0px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                <tbody>
                <tr>
                    <td style="padding: 30px 40px;">
                        <span style="font-size: 12px;">Kind regards,</span>

                        <br />
                        <br />

                        <img
                                src="cid:kbSignature"
                                alt="Kiwibank Signature"
                                width="113px"
                                height="80px"
                                style="
                                    width: 113px !important;
                                    max-width: 113px !important;
                                    height: 80px !important;
                                    max-height: 80px !important;
                                "
                        />

                        <br />
                        <br />

                        <span style="font-size: 12px;"><b>Mark Wilkshire</b></span>

                        <br />

                        <span style="font-size: 12px;"><b>Chief Marketing Officer</b></span>

                        <br />
                        <br />
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>