<table border="0" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
    background-color: #EFEEEF;
" bgcolor="#EFEEEF">
    <tbody>
        <tr>
            <td style="padding: 0 0 0 0;">
                <table cellpadding="0" cellspacing="0" width="100%" style="
                    width: 100% !important;
                    max-width: 100% !important;
                ">
                    <tbody>
                        <tr>
                            <td style="padding: 30px 40px;">
                                <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Kind regards,</span>

                                <br />
                                <br />

                                <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"><b>The Business Lending team.</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>