@import "../../../less/globalStyles.less";
@import "../LoanOrigination/loanOrigination.less";

.footerContainer {
  padding-top: 0;
  padding-bottom: 40px;
}

.footerDetail__typography {
  &:extend(.typography);
  text-align: center;
  color: @darkGrey !important;
}

.footerDetail__typography_a {
  color: @darkGrey !important;
  text-decoration: underline;
}

.footerDetail__typography_a:hover {
  color: @lightGrey !important;
}

.footerDetails {
  text-align: center;
}

.footerDetails__svg {
  margin: 0 auto 5px auto;
  display: block;
  color: @darkFooterGrey;
}

.footerMiddleLine {
  border-right: 1px solid @darkFooterGrey;
}