<!DOCTYPE html>
<html lang="en" class="js no-touch no-ios no-android gr__kiwibank_co_nz">
<head>
    <meta charset="utf-8">

    <title>Business overdraft&nbsp;| Accounts and services | Kiwibank</title>
    <meta name="description"
          content="A business overdraft stays in place so you can use it when you need it. No fixed repayments, and you'll only pay interest on what you use. Find out more">
    <link rel="icon" href="https://media.kiwibank.co.nz/static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="16x16" type="image/png"
          href="https://media.kiwibank.co.nz/static/favicons/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"
          href="https://media.kiwibank.co.nz/static/favicons/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" type="image/png"
          href="https://media.kiwibank.co.nz/static/favicons/favicon-152x152.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kiwibankNZ">
    <meta name="twitter:title" content="Business overdraft | Accounts and services | Kiwibank">


    <meta name="twitter:image" content="https://media.kiwibank.co.nz/static/images/kiwibank-og-default-image.png">

    <meta property="og:site_name" content="Kiwibank">
    <meta property="og:url" content="/business-banking/accounts-services/overdraft/">
    <meta property="og:title" content="Business overdraft | Accounts and services | Kiwibank">
    <meta property="og:description"
          content="A business overdraft stays in place so you can use it when you need it. No fixed repayments, and you'll only pay interest on what you use. Find out more">


    <meta property="og:image" content="https://media.kiwibank.co.nz/static/images/kiwibank-og-default-image.png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:image:type" content="image/png">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="https://media.kiwibank.co.nz/static/css/styles.css">


    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        document.documentElement.className += 'ontouchstart' in window ? ' touch' : ' no-touch';

        // Clickjacking mitigation
        try {
            top.document.domain
        } catch (e) {
            var f = function () {
                document.body.innerHTML = '';
            }
            setInterval(f, 1);
            if (document.body) document.body.onload = f;
        }
    </script>
</head>

<body class="using-mouse" data-gr-c-s-loaded="true">
<div class="u-hide">
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="icon-android" viewBox="0 0 25 48">
            <path d="M22.05.99C20.06.33 17.06 0 13 0h-1C7.94 0 4.94.33 2.96.99.97 1.66 0 2.66 0 4v39c0 2.76 2.24 5 5 5h15c2.76 0 5-2.24 5-5V4c0-1.34-.97-2.34-2.95-3.01zM10 3.49c0-.27.22-.49.49-.49h4.02c.27 0 .49.22.49.49v.02c0 .27-.22.49-.49.49h-4.02a.49.49 0 0 1-.49-.49v-.02zM10 45c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1h-5zM3 7h19v33H3V7z"></path>
        </symbol>
        <symbol id="icon-app-store-apple" viewBox="0 0 135 40">
            <path fill="#A6A6A6"
                  d="M130.197 40H4.729A4.74 4.74 0 0 1 0 35.267V4.726A4.733 4.733 0 0 1 4.729 0h125.468C132.803 0 135 2.12 135 4.726v30.541c0 2.605-2.197 4.733-4.803 4.733z"></path>
            <path d="M134.032 35.268a3.83 3.83 0 0 1-3.834 3.83H4.729a3.835 3.835 0 0 1-3.839-3.83V4.725A3.84 3.84 0 0 1 4.729.89h125.468a3.834 3.834 0 0 1 3.834 3.835l.001 30.543z"></path>
            <path d="M30.128 19.784c-.029-3.223 2.639-4.791 2.761-4.864-1.511-2.203-3.853-2.504-4.676-2.528-1.967-.207-3.875 1.177-4.877 1.177-1.022 0-2.565-1.157-4.228-1.123-2.14.033-4.142 1.272-5.24 3.196-2.266 3.923-.576 9.688 1.595 12.859 1.086 1.553 2.355 3.287 4.016 3.226 1.625-.067 2.232-1.036 4.193-1.036 1.943 0 2.513 1.036 4.207.997 1.744-.028 2.842-1.56 3.89-3.127 1.255-1.78 1.759-3.533 1.779-3.623-.041-.014-3.387-1.291-3.42-5.154zm-3.2-9.478c.874-1.093 1.472-2.58 1.306-4.089-1.265.056-2.847.875-3.758 1.944-.806.942-1.526 2.486-1.34 3.938 1.421.106 2.88-.717 3.792-1.793zm26.717 21.198h-2.271l-1.244-3.909h-4.324l-1.185 3.909H42.41l4.284-13.308h2.646l4.305 13.308zm-3.89-5.549L48.63 22.48c-.119-.355-.342-1.191-.671-2.507h-.04a96.75 96.75 0 0 1-.632 2.507l-1.105 3.475h3.573zm14.907.633c0 1.632-.441 2.922-1.323 3.869-.79.843-1.771 1.264-2.942 1.264-1.264 0-2.172-.454-2.725-1.362h-.04v5.055H55.5V25.067c0-1.026-.027-2.079-.079-3.159h1.875l.119 1.521h.04c.711-1.146 1.79-1.718 3.238-1.718 1.132 0 2.077.447 2.833 1.342.758.896 1.136 2.074 1.136 3.535zm-2.172.078c0-.934-.21-1.704-.632-2.31-.461-.632-1.08-.948-1.856-.948-.526 0-1.004.176-1.431.523-.428.35-.708.807-.839 1.373-.066.264-.099.48-.099.65v1.6c0 .698.214 1.287.642 1.768s.984.721 1.668.721c.803 0 1.428-.31 1.875-.928.448-.619.672-1.435.672-2.449zm13.209-.078c0 1.632-.441 2.922-1.324 3.869-.789.843-1.77 1.264-2.941 1.264-1.264 0-2.172-.454-2.724-1.362h-.04v5.055h-2.132V25.067c0-1.026-.027-2.079-.079-3.159h1.875l.119 1.521h.04c.71-1.146 1.789-1.718 3.238-1.718 1.131 0 2.076.447 2.834 1.342.755.896 1.134 2.074 1.134 3.535zm-2.172.078c0-.934-.211-1.704-.633-2.31-.461-.632-1.078-.948-1.855-.948a2.22 2.22 0 0 0-1.432.523c-.428.35-.707.807-.838 1.373-.065.264-.099.48-.099.65v1.6c0 .698.214 1.287.64 1.768.428.48.984.721 1.67.721.803 0 1.428-.31 1.875-.928.448-.619.672-1.435.672-2.449zm14.512 1.106c0 1.132-.393 2.053-1.182 2.764-.867.777-2.074 1.165-3.625 1.165-1.432 0-2.58-.276-3.449-.829l.494-1.777c.936.566 1.963.85 3.082.85.803 0 1.428-.182 1.877-.544.447-.362.67-.848.67-1.454 0-.54-.184-.995-.553-1.364-.367-.369-.98-.712-1.836-1.029-2.33-.869-3.494-2.142-3.494-3.816 0-1.094.408-1.991 1.225-2.689.814-.699 1.9-1.048 3.258-1.048 1.211 0 2.217.211 3.02.632l-.533 1.738c-.75-.408-1.598-.612-2.547-.612-.75 0-1.336.185-1.756.553a1.58 1.58 0 0 0-.533 1.205c0 .526.203.961.611 1.303.355.316 1 .658 1.936 1.027 1.145.461 1.986 1 2.527 1.618.539.616.808 1.387.808 2.307zm7.049-4.264h-2.35v4.659c0 1.185.414 1.777 1.244 1.777.381 0 .697-.033.947-.099l.059 1.619c-.42.157-.973.236-1.658.236-.842 0-1.5-.257-1.975-.77-.473-.514-.711-1.376-.711-2.587v-4.837h-1.4v-1.6h1.4v-1.757l2.094-.632v2.389h2.35v1.602zm10.603 3.119c0 1.475-.422 2.686-1.264 3.633-.883.975-2.055 1.461-3.516 1.461-1.408 0-2.529-.467-3.365-1.401s-1.254-2.113-1.254-3.534c0-1.487.43-2.705 1.293-3.652.861-.948 2.023-1.422 3.484-1.422 1.408 0 2.541.467 3.396 1.402.818.907 1.226 2.078 1.226 3.513zm-2.212.069c0-.885-.189-1.644-.572-2.277-.447-.766-1.086-1.148-1.914-1.148-.857 0-1.508.383-1.955 1.148-.383.634-.572 1.405-.572 2.317 0 .885.189 1.644.572 2.276.461.766 1.105 1.148 1.936 1.148.814 0 1.453-.39 1.914-1.168.393-.645.591-1.412.591-2.296zm9.142-2.913a3.702 3.702 0 0 0-.672-.059c-.75 0-1.33.283-1.738.85-.355.5-.533 1.132-.533 1.895v5.035h-2.131l.02-6.574c0-1.106-.027-2.113-.08-3.021h1.857l.078 1.836h.059c.225-.631.58-1.139 1.066-1.52a2.578 2.578 0 0 1 1.541-.514c.197 0 .375.014.533.039v2.033zm9.535 2.469a5 5 0 0 1-.078.967h-6.396c.025.948.334 1.673.928 2.173.539.447 1.236.671 2.092.671.947 0 1.811-.151 2.588-.454l.334 1.48c-.908.396-1.98.593-3.217.593-1.488 0-2.656-.438-3.506-1.313-.848-.875-1.273-2.05-1.273-3.524 0-1.447.395-2.652 1.186-3.613.828-1.026 1.947-1.539 3.355-1.539 1.383 0 2.43.513 3.141 1.539.563.815.846 1.823.846 3.02zm-2.033-.553c.014-.632-.125-1.178-.414-1.639-.369-.593-.936-.889-1.699-.889-.697 0-1.264.289-1.697.869-.355.461-.566 1.014-.631 1.658h4.441zM49.05 10.009c0 1.177-.353 2.063-1.058 2.658-.653.549-1.581.824-2.783.824-.596 0-1.106-.026-1.533-.078V6.982c.557-.09 1.157-.136 1.805-.136 1.145 0 2.008.249 2.59.747.652.563.979 1.368.979 2.416zm-1.105.029c0-.763-.202-1.348-.606-1.756-.404-.407-.994-.611-1.771-.611-.33 0-.611.022-.844.068v4.889c.129.02.365.029.708.029.802 0 1.421-.223 1.857-.669s.656-1.096.656-1.95zm6.964.999c0 .725-.207 1.319-.621 1.785-.434.479-1.009.718-1.727.718-.692 0-1.243-.229-1.654-.689-.41-.459-.615-1.038-.615-1.736 0-.73.211-1.329.635-1.794s.994-.698 1.712-.698c.692 0 1.248.229 1.669.688.4.446.601 1.022.601 1.726zm-1.087.034c0-.435-.094-.808-.281-1.119-.22-.376-.533-.564-.94-.564-.421 0-.741.188-.961.564-.188.311-.281.69-.281 1.138 0 .435.094.808.281 1.119.227.376.543.564.951.564.4 0 .714-.191.94-.574.194-.317.291-.693.291-1.128zm8.943-2.352l-1.475 4.714h-.96l-.611-2.047a15.32 15.32 0 0 1-.379-1.523h-.019a11.15 11.15 0 0 1-.379 1.523l-.649 2.047h-.971l-1.387-4.714h1.077l.533 2.241c.129.53.235 1.035.32 1.513h.019c.078-.394.207-.896.389-1.503l.669-2.25h.854l.641 2.202c.155.537.281 1.054.378 1.552h.029c.071-.485.178-1.002.32-1.552l.572-2.202h1.029zm5.433 4.714H67.15v-2.7c0-.832-.316-1.248-.95-1.248a.946.946 0 0 0-.757.343 1.217 1.217 0 0 0-.291.808v2.796h-1.048v-3.366c0-.414-.013-.863-.038-1.349h.921l.049.737h.029c.122-.229.304-.418.543-.569.284-.176.602-.265.95-.265.44 0 .806.142 1.097.427.362.349.543.87.543 1.562v2.824zm2.89 0h-1.047V6.556h1.047v6.877zm6.17-2.396c0 .725-.207 1.319-.621 1.785-.434.479-1.01.718-1.727.718-.693 0-1.244-.229-1.654-.689-.41-.459-.615-1.038-.615-1.736 0-.73.211-1.329.635-1.794s.994-.698 1.711-.698c.693 0 1.248.229 1.67.688.4.446.601 1.022.601 1.726zm-1.088.034c0-.435-.094-.808-.281-1.119-.219-.376-.533-.564-.939-.564-.422 0-.742.188-.961.564-.188.311-.281.69-.281 1.138 0 .435.094.808.281 1.119.227.376.543.564.951.564.4 0 .713-.191.939-.574.195-.317.291-.693.291-1.128zm6.16 2.362h-.941l-.078-.543h-.029c-.322.433-.781.65-1.377.65-.445 0-.805-.143-1.076-.427a1.339 1.339 0 0 1-.369-.96c0-.576.24-1.015.723-1.319.482-.304 1.16-.453 2.033-.446V10.3c0-.621-.326-.931-.979-.931-.465 0-.875.117-1.229.349l-.213-.688c.438-.271.979-.407 1.617-.407 1.232 0 1.85.65 1.85 1.95v1.736c0 .471.023.846.068 1.124zm-1.088-1.62v-.727c-1.156-.02-1.734.297-1.734.95 0 .246.066.43.201.553a.733.733 0 0 0 .512.184c.23 0 .445-.073.641-.218a.893.893 0 0 0 .38-.742zm7.043 1.62h-.93l-.049-.757h-.029c-.297.576-.803.864-1.514.864-.568 0-1.041-.223-1.416-.669s-.562-1.025-.562-1.736c0-.763.203-1.381.611-1.853.395-.44.879-.66 1.455-.66.633 0 1.076.213 1.328.64h.02V6.556h1.049v5.607c0 .459.012.882.037 1.27zm-1.086-1.988v-.786a1.194 1.194 0 0 0-.408-.965 1.03 1.03 0 0 0-.701-.257c-.391 0-.697.155-.922.466-.223.311-.336.708-.336 1.193 0 .466.107.844.322 1.135.227.31.533.465.916.465.344 0 .619-.129.828-.388.202-.239.301-.527.301-.863zm10.049-.408c0 .725-.207 1.319-.621 1.785-.434.479-1.008.718-1.727.718-.691 0-1.242-.229-1.654-.689-.41-.459-.615-1.038-.615-1.736 0-.73.211-1.329.635-1.794s.994-.698 1.713-.698c.691 0 1.248.229 1.668.688.4.446.601 1.022.601 1.726zm-1.086.034c0-.435-.094-.808-.281-1.119-.221-.376-.533-.564-.941-.564-.42 0-.74.188-.961.564-.188.311-.281.69-.281 1.138 0 .435.094.808.281 1.119.227.376.543.564.951.564.4 0 .715-.191.941-.574.193-.317.291-.693.291-1.128zm6.721 2.362h-1.047v-2.7c0-.832-.316-1.248-.951-1.248-.311 0-.562.114-.756.343s-.291.499-.291.808v2.796h-1.049v-3.366c0-.414-.012-.863-.037-1.349h.92l.049.737h.029a1.53 1.53 0 0 1 .543-.569c.285-.176.602-.265.951-.265.439 0 .805.142 1.096.427.363.349.543.87.543 1.562v2.824zm7.053-3.929h-1.154v2.29c0 .582.205.873.611.873.188 0 .344-.016.467-.049l.027.795c-.207.078-.479.117-.814.117-.414 0-.736-.126-.969-.378-.234-.252-.35-.676-.35-1.271V9.504h-.689v-.785h.689v-.864l1.027-.31v1.173h1.154v.786zm5.548 3.929h-1.049v-2.68c0-.845-.316-1.268-.949-1.268-.486 0-.818.245-1 .735a1.317 1.317 0 0 0-.049.377v2.835h-1.047V6.556h1.047v2.841h.02c.33-.517.803-.775 1.416-.775.434 0 .793.142 1.078.427.355.355.533.883.533 1.581v2.803zm5.723-2.58c0 .188-.014.346-.039.475h-3.143c.014.466.164.821.455 1.067.266.22.609.33 1.029.33.465 0 .889-.074 1.271-.223l.164.728c-.447.194-.973.291-1.582.291-.73 0-1.305-.215-1.721-.645-.418-.43-.625-1.007-.625-1.731 0-.711.193-1.303.582-1.775.406-.504.955-.756 1.648-.756.678 0 1.193.252 1.541.756.281.4.42.895.42 1.483zm-1-.271a1.411 1.411 0 0 0-.203-.805c-.182-.291-.459-.437-.834-.437a.995.995 0 0 0-.834.427 1.586 1.586 0 0 0-.311.815h2.182z"
                  fill="#FFF"></path>
        </symbol>
        <symbol id="icon-app-store-google" viewBox="60 -12 135 40">
            <path fill="#010101" stroke="#FFF" stroke-width=".797" stroke-miterlimit="10"
                  d="M174.6 21.8c0 3.5-2.5 5.6-6 5.6H66.7c-3.5 0-6.3-2.8-6.3-6.3V-5.4c0-3.5 2.8-6.3 6.3-6.3h101.9c3.5 0 6 2.8 6 6.3v27.2z"></path>
            <path fill="#010101" stroke="#FFF" stroke-width=".797" stroke-miterlimit="10"
                  d="M174.6 21.8c0 3.5-2.5 5.6-6 5.6H66.7c-3.5 0-6.3-2.8-6.3-6.3V-5.4c0-3.5 2.8-6.3 6.3-6.3h101.9c3.5 0 6 2.8 6 6.3v27.2z"></path>
            <g fill="#FFF">
                <path d="M138.5 16.4l-.9.8-.6.3c-.6.3-1.2.3-1.7.3-.6 0-1.5 0-2.4-.7-1.3-.9-1.8-2.4-1.8-3.8 0-2.8 2.3-4.1 4.1-4.1.6 0 1.3.2 1.8.5.9.6 1.1 1.4 1.3 1.8l-4.2 1.7-1.4.1c.4 2.3 2 3.6 3.7 3.6.8.1 1.5-.2 2.1-.5 0 0 .1-.1 0 0zm-2.5-4.5c.3-.1.5-.2.5-.5 0-.7-.8-1.5-1.8-1.5-.7 0-2.1.6-2.1 2.5 0 .3 0 .6.1.9l3.3-1.4zm-6.3 4.4c0 .7.1.8.7.9.3 0 .6.1.9.1l-.7.4h-3.2c.4-.5.5-.6.5-.9V5.7h-1.4l1.3-.6h2.6c-.6.3-.7.5-.8 1.1l.1 10.1z"></path>
                <path d="M124.8 10.1c.4.3 1.3 1.1 1.3 2.4 0 1.3-.7 2-1.5 2.5-.2.2-.5.5-.5.9s.3.6.5.8l.6.5c.8.7 1.5 1.3 1.5 2.5 0 1.7-1.6 3.4-4.7 3.4-2.6 0-3.9-1.2-3.9-2.6 0-.6.3-1.6 1.4-2.2 1.1-.7 2.6-.8 3.4-.8-.3-.3-.5-.7-.5-1.2 0-.3.1-.5.2-.7h-.6c-1.9 0-3-1.4-3-2.8 0-.8.4-1.7 1.1-2.4 1-.8 2.2-1 3.2-1h3.7l-1.1.6-1.1.1zm-1.3 8h-.4c-.2 0-1.1 0-1.9.3-.4.1-1.5.6-1.5 1.8 0 1.3 1.2 2.2 3.2 2.2 1.7 0 2.6-.8 2.6-1.9 0-.9-.6-1.4-2-2.4zm.5-3.4c.4-.4.5-1 .5-1.3 0-1.3-.8-3.3-2.3-3.3-.5 0-1 .2-1.3.6-.3.4-.4.9-.4 1.3 0 1.2.7 3.2 2.2 3.2.6 0 1-.2 1.3-.5zm-10.3 3.2c-2.8 0-4.4-2.2-4.4-4.2 0-2.3 1.9-4.4 4.6-4.4 2.6 0 4.3 2.1 4.3 4.2s-1.6 4.4-4.5 4.4zm2.2-1.5c.4-.6.5-1.3.5-2 0-1.6-.8-4.6-3-4.6-.6 0-1.2.2-1.6.6-.7.6-.8 1.4-.8 2.2 0 1.8.9 4.7 3 4.7.8 0 1.5-.3 1.9-.9zm-11.8 1.5c-2.9 0-4.4-2.2-4.4-4.2 0-2.3 1.9-4.4 4.6-4.4 2.6 0 4.3 2.1 4.3 4.2.1 2.1-1.5 4.4-4.5 4.4zm2.3-1.5c.4-.6.5-1.3.5-2 0-1.6-.8-4.6-3-4.6-.6 0-1.2.2-1.6.6-.7.6-.8 1.4-.8 2.2 0 1.8.9 4.7 3 4.7.7 0 1.5-.3 1.9-.9zm-7.8.8l-2.4.6c-1 .2-1.8.3-2.8.3-4.6 0-6.4-3.4-6.4-6.1 0-3.3 2.5-6.3 6.8-6.3.9 0 1.8.1 2.6.3 1.3.4 1.8.8 2.2 1l-1.4 1.3-.6.1.4-.7c-.6-.6-1.6-1.6-3.6-1.6-2.7 0-4.7 2-4.7 5 0 3.2 2.3 6.1 5.9 6.1 1.1 0 1.6-.2 2.1-.4v-2.7l-2.5.1 1.3-.7h3.6l-.4.4c-.1.1-.1.1-.2.3v.8l.1 2.2zm45.1-.7v4.6h-.9V9.4h.9v1.3c.6-.9 1.7-1.5 2.9-1.5 2.2 0 3.8 1.7 3.8 4.4s-1.5 4.4-3.8 4.4c-1.2.1-2.3-.5-2.9-1.5zm5.7-2.9c0-2-1.1-3.6-2.9-3.6-1.2 0-2.3.9-2.8 1.7v3.7c.5.8 1.6 1.8 2.8 1.8 1.8 0 2.9-1.5 2.9-3.6zm2.2 4.3V6.2h.9v11.6h-.9zm11.1 2.4c.2.1.5.1.7.1.6 0 .9-.2 1.3-1l.7-1.5-3.6-8.5h1l3.1 7.3 3-7.3h1l-4.4 10.3c-.5 1.1-1.2 1.6-2.1 1.6-.3 0-.7-.1-.9-.1l.2-.9zm-2.7-2.5c-.1-.3-.1-.5-.1-.8v-.7c-.3.5-.8.8-1.3 1.1-.6.3-1.1.4-1.8.4-.9 0-1.6-.2-2.1-.7-.5-.4-.7-1-.7-1.8s.4-1.4 1.1-1.8c.7-.5 1.6-.7 2.8-.7h2.1v-1c0-.6-.2-1.1-.6-1.4-.4-.3-1-.5-1.7-.5s-1.2.2-1.7.5c-.4.3-.6.7-.6 1.2h-.9c0-.6.3-1.2.9-1.7.6-.5 1.4-.7 2.4-.7s1.8.2 2.4.7c.6.5.9 1.2.9 2V16c0 .3 0 .6.1.9 0 .3.1.6.2.8l-1.4.1zm-3.2-.6c.8 0 1.3-.2 1.9-.5.6-.3.9-.8 1.1-1.3v-1.6h-2.1c-.8 0-1.5.2-2 .5-.5.4-.8.8-.8 1.3s.2.9.5 1.2c.3.2.8.4 1.4.4z"></path>
            </g>
            <path d="M87.1-3.3c0-1.8 1.3-2.9 3-2.9 1.1 0 1.8.5 2.3 1.2l-.8.5c-.3-.4-.8-.8-1.5-.8-1.1 0-2 .9-2 2 0 1.2.8 2 2 2 .6 0 1.1-.3 1.3-.5v-.9h-1.7v-.9h2.7v2.1c-.6.6-1.4 1-2.3 1-1.7.1-3-1-3-2.8zm6.5 2.8v-5.7h3.9v.9h-2.9v1.5h2.8v.9h-2.8v1.6h2.9v.9l-3.9-.1zm6.7 0v-4.8h-1.7v-.9h4.4v.9h-1.7v4.8h-1zm6.1 0v-5.7h1v5.7h-1zm3.8 0v-4.8h-1.7v-.9h4.4v.9h-1.7v4.8h-1zm5.9-2.8c0-1.7 1.2-2.9 2.9-2.9s2.9 1.2 2.9 2.9-1.2 2.9-2.9 2.9-2.9-1.2-2.9-2.9zm4.8 0c0-1.2-.7-2-1.9-2-1.1 0-1.9.9-1.9 2 0 1.2.7 2 1.9 2 1.1.1 1.9-.8 1.9-2zM127-.5l-3-4.1v4.1h-1v-5.7h1l2.9 3.9v-3.9h1v5.7h-.9z"
                  fill="#FFF"></path>
            <path fill="none" d="M75.2 13.2l2.9-2.9-2.9 2.9-9.3-9.3 9.3 9.3-9.3 9.3 9.3-9.3 2.9 2.9z"></path>
            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="366.773" y1="-943.716" x2="354.514" y2="-951.388"
                            gradientTransform="rotate(45.001 -934.155 -819.958)">
                <stop offset="0" stop-color="#d7e69d"></stop>
                <stop offset=".446" stop-color="#94c4aa"></stop>
                <stop offset="1" stop-color="#01a4b6"></stop>
            </linearGradient>
            <path fill="url(#a)" d="M78.1 10.3L66.8 4c-.3-.2-.6-.2-.9-.1l9.3 9.3 2.9-2.9z"></path>
            <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="359.647" y1="-950.27" x2="375.539" y2="-946.115"
                            gradientTransform="rotate(45.001 -934.155 -819.958)">
                <stop offset="0" stop-color="#ed277b"></stop>
                <stop offset=".019" stop-color="#ee2f7c"></stop>
                <stop offset=".704" stop-color="#f7bd81"></stop>
                <stop offset="1" stop-color="#feeb74"></stop>
            </linearGradient>
            <path fill="url(#b)" d="M78.1 16.1L82 14c.8-.4.8-1.1 0-1.6l-3.9-2.1-2.9 2.9 2.9 2.9z"></path>
            <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="368.518" y1="-937.897" x2="351.283" y2="-948.037"
                            gradientTransform="rotate(45.001 -934.155 -819.958)">
                <stop offset="0" stop-color="#89cfbd"></stop>
                <stop offset=".091" stop-color="#7dbebb"></stop>
                <stop offset=".54" stop-color="#457cac"></stop>
                <stop offset=".852" stop-color="#1c5aa2"></stop>
                <stop offset="1" stop-color="#084d9f"></stop>
            </linearGradient>
            <path fill="url(#c)" d="M65.9 3.9c-.3.1-.6.5-.6 1v16.6c0 .5.2.9.6 1l9.3-9.3-9.3-9.3z"></path>
            <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="374.776" y1="-945.949" x2="364.163" y2="-931.967"
                            gradientTransform="rotate(45.001 -934.155 -819.958)">
                <stop offset="0" stop-color="#f04a2b"></stop>
                <stop offset=".47" stop-color="#b54f6b"></stop>
                <stop offset=".835" stop-color="#8b5191"></stop>
                <stop offset="1" stop-color="#7851a1"></stop>
            </linearGradient>
            <path fill="url(#d)" d="M65.9 22.5c.2.1.5 0 .9-.1l11.3-6.2-2.9-2.9-9.3 9.2z"></path>
        </symbol>
        <symbol id="icon-arrow-d" viewBox="0 0 12 7">
            <path d="M.2.6l5.5 5.6L11.2.6z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-arrow-r" viewBox="0 0 14 14">
            <path d="M3.9 11.9l5.6-5.5L3.9.9v11z"></path>
        </symbol>
        <symbol id="icon-arrow-u" viewBox="0 0 12 7">
            <path d="M.2 6.2L5.7.6l5.5 5.6z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-bb-logo" viewBox="0 0 121 81"><title>Logo-BB</title>
            <g fill="none" fill-rule="evenodd">
                <path d="M.75.582h80.085V80.5H.75V.582z" fill="#6BB964"></path>
                <path d="M14.592 29.795h-3.777v18.08h3.777V39.69l6.787 8.186h4.633l-7.79-9.423 7.524-8.657h-4.544l-6.61 7.774v-7.774zm12.896 18.08h3.658V34.712h-3.659v13.163zm3.983-16.962c0-1.207-1.003-2.09-2.154-2.09-1.18 0-2.184.883-2.184 2.09 0 1.237 1.003 2.091 2.184 2.091 1.15 0 2.154-.854 2.154-2.09zm12.187 3.8h-2.804l-2.154 8.39-2.36-8.392h-3.66l4.014 13.163h3.363l2.155-8.069 2.153 8.07h3.364l4.013-13.164h-3.541l-2.36 8.392-2.183-8.392zM16.983 67.172c-1.092 0-2.066-.619-2.479-1.532v-4.329c.413-.882 1.416-1.53 2.48-1.53 1.976 0 3.156 1.59 3.156 3.71 0 2.09-1.18 3.68-3.157 3.68m.826-10.57c-1.416 0-2.715.677-3.305 1.383v-7.067h-3.689v19.14h3.69v-1.09c.589.708 1.888 1.385 3.304 1.385 3.836 0 5.99-3.092 5.99-6.861 0-3.77-2.154-6.89-5.99-6.89m15.412 9.864c-.324.707-1.298 1.148-2.33 1.148-1.151 0-2.332-.47-2.332-1.62 0-1.118 1.18-1.619 2.331-1.619 1.033 0 2.007.442 2.331 1.148v.943zM31.069 56.6c-1.741 0-3.453.501-4.397 1.09v3.15a6.541 6.541 0 0 1 3.6-1.06c1.859 0 2.95.796 2.95 2.062v.736c-.53-.383-1.8-.765-2.95-.765-2.892 0-5.105 1.707-5.105 4.21 0 2.738 2.213 4.27 4.87 4.27 1.445 0 2.743-.5 3.185-.943v.708h3.512v-8.393c0-3.21-2.036-5.065-5.665-5.065zm29.27 6.331l5.488-6.036h-4.395l-4.516 5.212v-11.19h-3.66v19.14h3.66v-6.065l4.75 6.066h4.28l-5.607-7.127zm6.255 4.977c0 1.325 1.004 2.356 2.302 2.356s2.302-1.031 2.302-2.356c0-1.326-1.004-2.326-2.302-2.326s-2.302 1-2.302 2.326zm-27.489 2.15h3.659v-8.334c.295-1.148 1.269-1.826 2.39-1.826 1.446 0 2.154.942 2.154 2.327v7.833h3.659v-8.6c0-2.914-1.683-4.858-4.662-4.858-1.535 0-2.833.678-3.541 1.502v-1.207h-3.659v13.163M57.24 30.913c0-1.207-1.003-2.09-2.153-2.09-1.18 0-2.184.883-2.184 2.09 0 1.237 1.004 2.092 2.184 2.092 1.15 0 2.154-.855 2.154-2.092m-3.984 3.799h3.659v13.163h-3.659V34.712z"
                      fill="#FFF"></path>
                <path d="M80.835 40.743h39.84V80.5h-39.84V40.743z" fill="#075928"></path>
                <path d="M86.58 57.786v1.788h.447c.551 0 .816-.166.816-.89 0-.642-.242-.898-.764-.898h-.499zm.302-2.308h-.302v1.727h.333c.529 0 .725-.143.725-.867 0-.641-.219-.86-.756-.86zm1.044 2.029c.945.09 1.368.535 1.368 1.29 0 .837-.469 1.335-1.776 1.335h-2.805v-.377c.355 0 .485-.098.485-.528v-3.425c0-.43-.13-.528-.485-.528v-.4h2.646c.968 0 1.754.438 1.754 1.426 0 .784-.515 1.086-1.187 1.177v.03zm5.586 1.463c0 .55.068.611.43.641v.347l-1.338.272h-.113a1.072 1.072 0 0 1-.22-.589c-.271.37-.694.589-1.277.589-.665 0-1.088-.325-1.088-1.094v-1.682c0-.55-.068-.626-.416-.641v-.37l1.535-.249h.188v2.618c0 .385.106.61.455.61.173 0 .34-.044.536-.195v-1.773c0-.55-.068-.626-.416-.641v-.37l1.535-.249h.189v2.776m.755.935v-.852h.847c.06.536.363.664.725.664.34 0 .568-.128.568-.4 0-.271-.16-.392-.477-.46l-.643-.136c-.657-.136-1.012-.55-1.012-1.222 0-.92.725-1.357 1.602-1.357.71 0 1.164.18 1.376.271v.852h-.786c-.053-.437-.325-.573-.695-.573-.303 0-.485.12-.485.385 0 .219.136.324.379.377l.597.128c.763.174 1.232.611 1.232 1.35 0 .845-.627 1.298-1.754 1.298-.846 0-1.247-.211-1.474-.325m4.528-3.952a.748.748 0 0 1-.748-.74c0-.406.347-.738.77-.738.416 0 .741.332.741.739s-.34.74-.763.74zm-1.036 4.179v-.377c.355 0 .431-.098.431-.528v-1.773c0-.55-.068-.626-.416-.641v-.37l1.535-.249h.189v3.033c0 .43.075.528.43.528v.377H97.76zm6.629-.905c0 .43.075.528.431.528v.377h-2.17v-.377c.356 0 .431-.098.431-.528v-1.57c0-.46-.18-.61-.476-.61-.287 0-.492.113-.642.203v1.977c0 .43.075.528.43.528v.377h-2.169v-.377c.355 0 .431-.098.431-.528v-1.773c0-.55-.068-.626-.416-.641v-.37l1.33-.301h.114c.046.06.219.37.25.686.325-.377.733-.686 1.33-.686.627 0 1.126.37 1.126 1.199v1.886m2.04-1.403h.953c0-.905-.114-1.162-.439-1.162-.324 0-.46.264-.514 1.162zm1.974 1.433l.196.332c-.43.445-.952.64-1.678.64-1.217 0-1.913-.746-1.913-2.05 0-1.29.756-2.037 1.92-2.037 1.285 0 1.739.724 1.739 1.885v.37h-2.245c.03.754.28 1.094.975 1.094.317 0 .658-.068 1.006-.234zm.688.648v-.852h.846c.06.536.362.664.726.664.34 0 .566-.128.566-.4 0-.271-.158-.392-.475-.46l-.643-.136c-.658-.136-1.013-.55-1.013-1.222 0-.92.726-1.357 1.602-1.357.711 0 1.164.18 1.376.271v.852h-.786c-.053-.437-.325-.573-.696-.573-.302 0-.483.12-.483.385 0 .219.136.324.377.377l.598.128c.763.174 1.232.611 1.232 1.35 0 .845-.628 1.298-1.754 1.298-.846 0-1.247-.211-1.474-.325m3.598 0v-.852h.846c.061.536.364.664.726.664.34 0 .567-.128.567-.4 0-.271-.158-.392-.476-.46l-.642-.136c-.658-.136-1.014-.55-1.014-1.222 0-.92.726-1.357 1.603-1.357.71 0 1.164.18 1.376.271v.852h-.786c-.054-.437-.325-.573-.696-.573-.302 0-.484.12-.484.385 0 .219.136.324.379.377l.597.128c.763.174 1.231.611 1.231 1.35 0 .845-.627 1.298-1.753 1.298-.847 0-1.248-.211-1.474-.325M86.58 64.823v1.788h.447c.551 0 .816-.166.816-.89 0-.641-.242-.898-.764-.898h-.499zm.302-2.308h-.302v1.728h.333c.529 0 .725-.144.725-.868 0-.641-.219-.86-.756-.86zm1.044 2.03c.945.09 1.368.535 1.368 1.29 0 .836-.469 1.334-1.776 1.334h-2.805v-.377c.355 0 .485-.098.485-.528V62.84c0-.43-.13-.528-.485-.528v-.4h2.646c.968 0 1.754.437 1.754 1.426 0 .784-.515 1.086-1.187 1.176v.03zm3.604.784c-.37 0-.596.218-.596.633 0 .377.144.498.37.498.13 0 .349-.045.47-.173l.022-.958h-.265zm2.012 1.305v.362c-.174.113-.484.218-.877.218-.438 0-.74-.203-.817-.52-.12.287-.445.573-1.05.573-.658 0-1.202-.317-1.202-1.124 0-.89.62-1.282 1.806-1.282.091 0 .31.008.409.015v-.354c0-.543-.144-.785-.484-.785-.348 0-.439.272-.491.694h-.975v-.814c.43-.257 1.066-.438 1.716-.438.884 0 1.549.385 1.549 1.267 0 .226-.03.845-.03 1.532 0 .565.09.656.446.656zm4.444-.37c0 .43.076.528.43.528v.377h-2.168v-.377c.355 0 .43-.098.43-.528v-1.569c0-.46-.181-.61-.475-.61-.288 0-.492.112-.643.203v1.976c0 .43.075.528.43.528v.377h-2.168v-.377c.355 0 .43-.098.43-.528v-1.772c0-.551-.068-.627-.415-.642v-.37l1.33-.301h.113c.046.06.22.37.25.686.324-.377.733-.686 1.33-.686.627 0 1.126.37 1.126 1.2v1.885m3.621-1.464l.952 1.6c.204.34.355.362.604.392v.377h-1.617l-1.081-1.953.945-1.072c.234-.263.12-.482-.242-.482v-.385h1.852v.385c-.302.038-.492.143-.748.422l-.665.717zm-1.202 1.464c0 .43.075.528.43.528v.377h-2.17v-.377c.357 0 .432-.098.432-.528v-3.44c0-.55-.098-.626-.446-.64v-.37l1.481-.196h.114c.03.037.159.234.159.754v3.892zm4.035-3.274a.748.748 0 0 1-.748-.739c0-.407.348-.739.771-.739.416 0 .741.332.741.74a.75.75 0 0 1-.763.738zm-1.035 4.18v-.378c.356 0 .43-.098.43-.528v-1.772c0-.551-.067-.627-.414-.642v-.37l1.534-.248h.19v3.032c0 .43.074.528.43.528v.377h-2.17zm6.637-.906c0 .43.076.528.43.528v.377h-2.169v-.377c.355 0 .431-.098.431-.528v-1.569c0-.46-.181-.61-.477-.61-.286 0-.49.112-.642.203v1.976c0 .43.076.528.43.528v.377h-2.168v-.377c.356 0 .43-.098.43-.528v-1.772c0-.551-.067-.627-.415-.642v-.37l1.33-.301h.114c.045.06.219.37.249.686.325-.377.733-.686 1.33-.686.627 0 1.127.37 1.127 1.2v1.885m2.358-2.572c-.28 0-.423.196-.423.762 0 .528.15.739.423.739.295 0 .43-.204.43-.717 0-.603-.127-.784-.43-.784zm2.524.075c-.212.159-.423.25-.657.25-.181 0-.325-.023-.491-.084.18.113.302.31.302.611 0 .528-.287 1.14-1.799 1.14h-.053c-.114.067-.181.128-.181.225 0 .091.045.159.18.166l.742.046c1.005.06 1.504.332 1.504 1.146 0 1.049-.854 1.426-2.049 1.426-1.08 0-1.874-.219-1.874-.777 0-.241.174-.445.393-.528h.937a.607.607 0 0 0-.098.347c0 .34.212.452.703.452.59 0 .809-.173.809-.528 0-.339-.242-.437-.9-.467a18.1 18.1 0 0 1-.974-.06c-.424-.053-.59-.332-.59-.687 0-.407.332-.732.891-.86-.65-.128-1.027-.513-1.027-1.124 0-.844.68-1.282 1.708-1.282.385 0 .642.09.87.143.173.038.188.053.377.053.28 0 .62-.219.831-.422l.446.814zm.726 3.5a.775.775 0 0 1-.77-.777.77.77 0 0 1 .77-.761c.423 0 .778.346.778.761 0 .43-.355.777-.778.777"
                      fill="#FFF"></path>
            </g>
        </symbol>
        <symbol id="icon-bg-warning" viewBox="31.5 8.5 33 5">
            <path d="M47.2-2.5L49.9.2 31.1 19.5l-2.7-2.7L47.2-2.5zm10.9 0L60.8.2 41.9 19.5l-2.7-2.7L58.1-2.5zm10.9 0L71.7.2 52.8 19.5l-2.7-2.7L69-2.5z"
                  fill-rule="evenodd" clip-rule="evenodd" fill="#E29A00"></path>
        </symbol>
        <symbol id="icon-breadcrumb" viewBox="0 0 12 12">
            <path d="M4.4 9l4-4-4-4-.7.5L7.1 5 3.7 8.4l.7.6z"></path>
        </symbol>
        <symbol id="icon-calculator-big" viewBox="0 0 24 24">
            <path d="M17.6 1H6.5C5 1 3.7 2.3 3.7 3.9v16.3C3.7 21.7 5 23 6.5 23h10.9c1.5 0 2.9-1.3 2.9-2.9V3.9C20.1 2.3 19 1 17.6 1zM9.4 20H6.5v-2.9h2.9V20zm0-4.1H6.5V13h2.9v2.9zm0-4H6.5V9.1h2.9v2.8zm3.9 8.1h-2.7v-2.9h2.9V20h-.2zm0-4.1h-2.7V13h2.9v2.9h-.2zm0-4h-2.7V9.1h2.9V12h-.2zm4 8.1h-2.7v-2.9h2.9V20h-.2zm0-4.1h-2.7V13h2.9v2.9h-.2zm0-4h-2.7V9.1h2.9V12h-.2zm0-4.2H6.5V3.9h10.9v3.9h-.1z"></path>
        </symbol>
        <symbol id="icon-calculator" viewBox="0 0 14 14">
            <path d="M10.2.7H3.9c-.9 0-1.6.8-1.6 1.7v9.3c0 .9.8 1.6 1.6 1.6h6.2c.9 0 1.6-.8 1.6-1.6V2.4c-.1-.9-.7-1.7-1.5-1.7zM5.5 11.5H3.9V9.9h1.6v1.6zm0-2.3H3.9V7.6h1.6v1.6zm0-2.2H3.9V5.3h1.6V7zm2.2 4.5H6.2V9.9h1.6l-.1 1.6zm0-2.3H6.2V7.6h1.6l-.1 1.6zm0-2.2H6.2V5.3h1.6L7.7 7zm2.3 4.5H8.5V9.9h1.6l-.1 1.6zm0-2.3H8.5V7.6h1.6L10 9.2zM10 7H8.5V5.3h1.6L10 7zm0-2.4H3.9V2.4h6.2L10 4.6z"></path>
        </symbol>
        <symbol id="icon-caret-d" viewBox="0 0 17 17">
            <path d="M1 5.3l7.5 7.5L16 5.3l-1.1-1.1-6.4 6.5L2 4.2 1 5.3z"></path>
        </symbol>
        <symbol id="icon-caret-l-bold" viewBox="0 0 14 14">
            <path d="M10.8 11.6L6 7l4.8-4.5L9.2.8 3.2 7l6.1 6.1 1.5-1.5z"></path>
        </symbol>
        <symbol id="icon-caret-l" viewBox="0 0 17 17">
            <path d="M11.5 1L4 8.5l7.5 7.5 1.1-1-6.4-6.5 6.4-6.4L11.5 1z"></path>
        </symbol>
        <symbol id="icon-caret-r-bold" viewBox="0 0 14 14">
            <path d="M4.7 13.1L10.8 7 4.7.9 3.2 2.5 8 7l-4.8 4.5 1.5 1.6z"></path>
        </symbol>
        <symbol id="icon-caret-r" viewBox="0 0 17 17">
            <path d="M5.1 16l7.5-7.5L5.1 1 4 2l6.4 6.5L4 14.9 5.1 16z"></path>
        </symbol>
        <symbol id="icon-caret-u" viewBox="0 0 17 17">
            <path d="M16 11.7L8.5 4.2 1 11.7l1 1.1 6.5-6.5 6.4 6.5 1.1-1.1z"></path>
        </symbol>
        <symbol id="icon-circle-arrow" viewBox="0 0 16 16">
            <path d="M8.1 1c-3.7 0-7 3.3-7 7.1S4.2 15 8 15s6.9-3.1 6.9-6.9S12 1 8.1 1zM6.8 11.2V4.9l4.6 3.2-4.6 3.1z"></path>
        </symbol>
        <symbol id="icon-clock" viewBox="0 0 16 16">
            <path d="M8 1.086c-3.866 0-7 3.08-7 6.881 0 3.8 3.134 6.882 7 6.882s7-3.081 7-6.882c0-3.8-3.134-6.881-7-6.881zm0 2.373c.267 0 .483.212.483.474v3.842l2.421 2.372a.473.473 0 0 1 0 .675.493.493 0 0 1-.686 0L7.66 8.301a.466.466 0 0 1-.144-.334V3.933c0-.262.216-.474.483-.474z"
                  fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-close-x" viewBox="0 0 16 16">
            <path d="M6.447 7.704L.009 1.433 1.405 0 7.86 6.29 14.142.01l1.414 1.413-6.262 6.263 6.253 6.092-1.396 1.433L7.88 9.1l-6.466 6.465L0 14.15l6.447-6.447z"></path>
        </symbol>
        <symbol id="icon-csv" viewBox="-0.5 -0.5 15 15">
            <path d="M8.8 2.8h2.6C10.4 1.7 8.8.1 8.8.1v2.7z"></path>
            <path d="M7.9 3.5V0H1.8v14h10.5V3.5H7.9zm0 6.1H4.4V9h3.4v.6zM9.7 8H4.4v-.8h5.2V8h.1zm0-1.8H4.4v-.7h5.2v.7h.1z"></path>
        </symbol>
        <symbol id="icon-document" viewBox="-0.5 -0.5 15 15">
            <path d="M8.8 2.8h2.6C10.4 1.7 8.8.1 8.8.1v2.7z"></path>
            <path d="M7.9 3.5V0H1.8v14h10.5V3.5H7.9zm0 6.1H4.4V9h3.4v.6zM9.7 8H4.4v-.8h5.2V8h.1zm0-1.8H4.4v-.7h5.2v.7h.1z"></path>
        </symbol>
        <symbol id="icon-facebook" viewBox="0 0 14 14">
            <path d="M12.7 11.7c0 .5-.4 1-1 1H2.3c-.6 0-1-.4-1-1V2.3c0-.6.3-1 1-1h9.4c.5 0 1 .3 1 1v9.4zm-1.9-8.9c-.5-.2-1.7-.2-1.7-.2-.8 0-1.1.3-1.4.7-.2.4-.2 1-.2 1.4v.8h-.8v1.3h.9v4.6h1.7V6.9h1.4l.1-1.3H9.3V4.5c-.1-.3.2-.5.7-.5 0 0 .3 0 .8.2V2.8z"></path>
        </symbol>
        <symbol id="icon-fax" viewBox="0 0 28 28"><title>fax</title>
            <path d="M4.5 6C5.875 6 7 7.125 7 8.5v17C7 26.875 5.875 28 4.5 28h-2A2.507 2.507 0 0 1 0 25.5v-17C0 7.125 1.125 6 2.5 6h2zM26 8.547c1.188.688 2 1.984 2 3.453v12c0 2.203-1.797 4-4 4H10.5A2.507 2.507 0 0 1 8 25.5v-24A1.5 1.5 0 0 1 9.5 0H20c.828 0 1.984.484 2.562 1.062l2.375 2.375c.578.578 1.062 1.734 1.062 2.562v2.547zM14.5 24v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm4 8v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm4 8v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm0-4v-2c0-.281-.219-.5-.5-.5h-2c-.281 0-.5.219-.5.5v2c0 .281.219.5.5.5h2c.281 0 .5-.219.5-.5zm1.5-6V6h-2.5A1.5 1.5 0 0 1 20 4.5V2H10v8h14z"></path>
        </symbol>
        <symbol id="icon-hamburger" viewBox="0 0 32 32">
            <path d="M27 11H5V7h22v4zm0 3H5v4h22v-4zm0 7H5v4h22v-4z"></path>
        </symbol>
        <symbol id="icon-inner-kiwi" viewBox="0 0 105 24">
            <path d="M3.8 1.3C3.3 1 3 1 2.5 1h-.1c-.4 0-.5 0-1 .1-.6 0-1 .5-1 1.2v1c0 2.3.1 4.6 0 6.9-.1 1.5-.2 2.9-.3 4.5 0 .6-.1 2.1 0 3.5 0 .4-.1.8-.1 1-.1.6-.2 1.6 0 2.7 0 .4.3.7.4.7.2.1.2.2.4.3h.6c.3 0 .4 0 .8-.1.6-.1.9-.5 1-1.2v-1.5c0-1.6 0-3.1.1-4.7.1-1.3.1-2.4.3-3.6.3-2.1.3-4.2.2-6.2 0-.7-.1-1.4-.1-2.1 0-.4.1-.8.1-.8 0-.3.1-.3.1-.6.2-.2.1-.6-.1-.8m14.3.7c-.1-.5-.6-1-1.1-1h-1c-.6 0-1 .5-1.2 1.2v1.3c0 1.6 0 3.1-.1 4.8 0 1.3 0 2.4-.1 3.6 0 .8 0 1.8.1 2.4-.2-.2-1.5-3.7-1.8-4.5-1.2-2.6-2.2-5.5-3.1-8.1 0-.1 0-.1-.1-.2-.2-.2-.5-.5-.9-.5-.2 0-.5 0-.7.1h-.7c-.2 0-.2.1-.4.1-.2.1-.4.3-.4.4-.2.8-.1 1.5.1 1.8 0 .1.1.3.1.3.1 2.7.1 5.5-.1 8.1 0 .9-.1 1.9-.2 2.9-.1 1.4 0 6.2 0 6.2s.1.5.2.9c.1.5.6.8 1 .8s.7-.1 1-.1c.5 0 .8-.4.9-.9.1-.5.1-.9.1-1.3 0-1.6.1-3.1.1-4.7 0-1.3 0-2.4.1-3.6v-.3c.1 0 .1-.1.2-.1.2.3.6 1.7.8 1.9 1.3 2.9 2.6 5.9 4.1 8.8.1.3.3.5.6.5.8 0 1.2 0 1.9-.1.3 0 .5-.3.5-.6v-1.6c-.1-2.9-.1-5.7 0-8.5 0-1 .1-2.1.2-3.1.1-1.4 0-6.5 0-6.5 0-.1 0-.2-.1-.4m14.1 7V2.5c0-.3 0-.3-.1-.6-.1-.4-.4-.9-.9-.9h-1.1c-.3 0-.6 0-1 .3-.3.2-.3.6-.3.8.1.3.1.3.1.6 0 0 .1.3.1.7-.1 1.6-.1 3.1-.1 4.7 0 1.3.1 2.4 0 3.6 0 .8.1 1.8.2 2.4-.2-.2-1.6-3.7-1.9-4.5-1.3-2.5-2.4-5.3-3.3-8.1 0-.1 0-.1-.1-.2-.2-.2-.4-.3-.8-.3h-1.4c-.5.1-.9.5-1 1.2 0 .4-.1.8-.1.9-.1 2.9.1 5.9.2 8.8V21s0 .5.1.9c.1.5.5.8.9.8.3 0 .5 0 .8-.1.3 0 .6.1.8 0 .3-.1.3-.1.5-.3.2-.1.3-.4.3-1 .2-1.5.2-2.4.1-3.5 0-.5-.1-1.5-.1-2.4 0-1.3-.1-2.4 0-3.6v-.3c.1 0 .1-.1.2-.1.2.3.7 1.7.8 1.9 1.3 2.9 2.7 5.9 4 8.8.1.3.3.5.6.5.8 0 1.2 0 1.9-.1.3 0 .6-.3.6-.6v-.3c.1-.3.1-.8.1-1.3.1-2.8-.1-5.7-.2-8.5.1-.7 0-1.7.1-2.8m10.7 11c-.3-.1-.4 0-.6 0-.6-.1-1.3 0-1.9 0-.3 0-.8.1-1.2-.1l-.6-.2c.1-1.4.1-2.7 0-4.1-.1-.8-.2-1.8-.3-2.6.3 0 .5-.1.8 0 1.2 0 2.1 0 2.9-.2.3-.1.7-.4.6-.8 0-.3-.1-.6-.1-.9 0-.4-.3-.8-.8-.8-.7-.1-1.6-.1-1.9-.1-.4 0-1.2 0-1.7-.2 0-1.3-.1-2.6-.2-4 0-.4 0-.9-.1-1.4.2-.1.3-.1.3-.1.3-.2.8-.2 1.3-.1h2.8c.4 0 .6-.3.8-.5.2-.3.3-.9.3-1.4 0-.3-.2-.5-.3-.7-.2-.2-.3-.2-.6-.3-1.3-.2-3.7-.2-4.9-.2H37c-.4-.4-1-.4-1.7-.3-.3.1-.3.3-.4.4-.1.3-.1.4-.1.7v1.8c0 2.1.1 4.2.2 6.2.1 1.5.2 2.9.2 4.5V22c.1.5.4.8.9.8.3 0 .5 0 .8-.1 0 0 3.9.2 5.6-.1.3 0 .4-.1.7-.3.3-.2.3-.3.4-.7.1-.4.1-1-.1-1.4 0 .2-.3-.2-.6-.2m9.9-4c-.4-.7-.8-1.8-1.3-2.4 0-.1 0-.1.1-.2.4-.6.8-.8 1.3-1.4.4-.6 1.2-1.7 1.7-3.9.4-2.3.3-.9.3-2.7.1-1.8-1.3-3.5-3.4-3.9-1.2-.2-2.4-.3-3.5-.3h-2c-.3 0-.3.1-.6.2-.2.1-.3.3-.3.5-.1.7-.1 1.5.3 2.1.1.2.2.4.2.8.1 1.8 0 3.7 0 5.5-.1 1.5-.1 2.9-.3 4.5-.1 1.4 0 6.5 0 6.5s.1.4.2.9.6.8 1.2.8c.3 0 .6-.1.9-.1.5 0 .9-.5.9-1v-5.4l.3-.3c.4-.1.8.9.8 1.3.4.8.8 1.8 1.3 2.8.2.3.8 1.7 1.3 2.4.3.4.8.5 1.3.3.4-.2.6-.3 1-.4.3-.3.3-.6.3-1-.3-1.5-1.3-4.4-2-5.6m-2.3-5.9c-.4.9-1.4.9-1.4.9s-.3 0-.3-.2c0-1.3.2-2.7.2-4 0-.7-.1-1.8-.1-2.8 0-.5 1.8-.2 1.8-.2s.4.1.8.3c.3.3.3.7.3.7s.1 1.2-.1 2c-.1 1.1-.8 2.7-1.2 3.3m9.2 9.2l-1.7-.1c-.5 0-.8.4-.8.9v.5c0 .4.1.8.1.8v.7c0 .3.2.3.3.5.2.2.6.3.9.3h.1l.9-.1c.4 0 .8-.4.8-.8v-2c.4-.4-.1-.8-.6-.7m11-3.2c-.4-.7-1.5-2.7-1.9-3.5 0 0 0-.1-.1-.1-.1-.1-.1-.2-.1-.3-.1-.3-.1-.5 0-.7.2-.3.3-.4.3-.7.3-.7.9-2.2 1.4-2.9.7-1.3 1.8-4.1 2.2-5.4.1-.3.1-.6-.1-.8l-.3-.3c-.3-.2-.5-.3-.8-.4-.4-.1-.9 0-1.3.4-.5.7-1.3 2.1-1.4 2.4-.4.9-.8 1.9-1.3 2.8-.1.2-.3.9-.6 1.2-.3.2-.3-.3-.3-.3v-.3c0-.5 0-.9-.1-1.5 0-.8-.1-1.9-.1-2.9 0-.2 0-.3-.1-.5 0-.1-.1-.4-.1-.8 0-.3-.3-.5-.6-.5H64c-.5 0-.9.4-1 .9-.1.4-.1.9-.1 1.3-.1 2.3 0 4.6.2 7 .1 1.5.2 2.9.2 4.5v7.4c.1.5.4.8.9.8.4 0 .6-.1.9-.1.5 0 1-.5 1.2-1 .1-.5.2-1.3.2-1.5.1-1.3.1-2.5.1-3.9.1-.2.2-.2.3-.3.4-.1.8.9.8 1.3.4.8.8 1.9 1.3 2.9.1.3.6 1.7 1 2.4.3.4.8.5 1.3.3.3-.2.6-.3.9-.4.1-.1.3-.1.3-.3.2-.3.3-.5.3-.8-.4-1.3-1.3-4.2-2.1-5.4m7.6-14.9c-.2-.1-.2-.2-.4-.2H76c-.6.1-1 .5-1 1.2v1c.1 2.3.1 4.6.1 6.9 0 1.5-.1 2.9-.1 4.5V21s0 .3.1.8c.1.6.7 1.2 1.3 1 .3 0 .5 0 .8-.1.6 0 .9-.5 1-1.2V20c0-1.6 0-3.1.1-4.7.1-1.3.1-2.4.2-3.6.3-1.9.3-3.8.3-5.6 0-.7.1-1.3.2-1.7 0-.6.2-1.6 0-2.7-.2-.1-.5-.4-.7-.5m19.8.1c-.8-.4-1.6-.3-1.9-.3-.3 0-.4.2-.5.4-.3.8-.3.7-.3 1.7.1.8.1.8.1 1.3-.3 1.6-.6 3.9-.8 4.8-.3 1.5-.5 2.9-.8 4.5v.2c0-.1-.1-.2-.1-.3-.3-.8-.5-1.9-.8-2.8-.3-1.3-.7-2.5-1-3.8-.1-.3-.3-.7-.4-1.2-.2-.3-.5-.6-.9-.6h-1.1c-.3-.1-.8.1-1.2.3-.3.1-.4.3-.4.5 0 .3.1.4.1.7 0 0 0 .6-.2 1.2-.3.9-.7 1.9-1 2.9-.3.9-.7 1.7-1 2.5 0 .1-.1.1-.1.2v-.2c-.2-1.5-.3-2.7-.4-4.2-.1-1.4-.9-6.5-.9-6.5s-.1-.3-.3-.8c-.3-.5-.8-.8-1.5-.8-.3.1-.4.1-.8.2-.5.2-.8.7-.8 1.3.1.5.2 1.2.3 1.5.3 1.6.4 3.1.6 4.7.1 1.3.3 2.4.3 3.6 0 2.1.3 4.2.7 6.2.2.8.3 1.8.7 2.7.1.2.1.3.2.5 0 .1.1.3.3.4.3.4.6.7.9.6h1.2c.4 0 .8-.3.8-.6.1-.3.2-.7.3-.8.4-1.8.9-3.7 1.5-5.5.3-1.3.8-2.4 1.3-3.5 0-.1.1-.1.1-.2 0 .1 0 .2.1.2.3 1.2.7 2.4.9 3.5.5 1.8.9 3.7 1.7 5.5.1.2.2.4.3.8.2.3.5.6.9.6h1c.6 0 .8-.1.9-.6 0-.1.1-.3.1-.3v-.2c.1-.2.1-.3.2-.5.2-.8.3-1.8.5-2.7.3-2 .8-4.1 1-6.2.2-1.3.4-2.4.6-3.6.3-1.6.5-3.1.7-4.7 0-.3.1-.9.1-1.5-.4-.4-.7-.8-1.2-1.1m6.8 17.9c-.1-.3-.2-.8-.2-1.4v-2.4c0-1.3-.1-2.4 0-3.6.2-2.1.1-4.2 0-6.2 0-.8-.1-1.7-.1-2.4 0-.3.1-.4.1-.4.1-.3.1-.3.1-.6s0-.7-.3-.8c-.3-.2-.7-.3-.9-.3h-.2c-.4 0-.6.1-1 .1-.6.1-1 .5-1.2 1.2 0 .4-.1.8-.1 1 0 2.3.1 4.6.2 6.9.1 1.5.1 2.9.1 4.5v6.5s0 .3.1.8c.1.6.5 1 1 1h1.6c.3-.1.3-.2.4-.3.2-.1.4-.3.4-.7.2-1.2.1-2.3 0-2.9"></path>
        </symbol>
        <symbol id="icon-iphone" viewBox="0 0 25 48">
            <path d="M21.37 0H3.63C1.63 0 0 1.63 0 3.63v40.74c0 2 1.63 3.63 3.63 3.63h17.74c2 0 3.63-1.63 3.63-3.63V3.63c0-2-1.63-3.63-3.63-3.63zM10 4.49c0-.27.22-.49.49-.49h4.02c.27 0 .49.22.49.49v.02c0 .27-.22.49-.49.49h-4.02a.49.49 0 0 1-.49-.49v-.02zM12.5 46a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5zM3 8h19v31H3V8z"></path>
        </symbol>
        <symbol id="icon-kiwibank-logo-print" viewBox="0 0 56 56">
            <path d="M0 0h56v56H0z"></path>
            <path fill="#FFF"
                  d="M45.5 46.9c0 1.1.7 1.7 1.7 1.7 1.1 0 1.7-.7 1.7-1.7 0-1.1-.7-1.7-1.7-1.7-1.1 0-1.7.7-1.7 1.7m-4.2-3.5l3.9-4.2H42l-3.1 3.5V35h-2.5v13.3h2.5v-4.2l3.1 4.2h3.1l-3.8-4.9zm-15 4.9h2.5v-5.9c.3-.7 1.1-1.4 1.7-1.4 1.1 0 1.4.7 1.4 1.7v5.6h2.5v-5.9c0-2.1-1.1-3.5-3.1-3.5-1.1 0-2.1.3-2.5 1.1v-.7h-2.5v9zm-4.2-2.4c-.3.3-1.1.7-1.7.7s-1.7-.3-1.7-1.1c0-.7.7-1.1 1.7-1.1.7 0 1.4.3 1.7.7v.8zm0-2.8c-.3-.3-1.4-.3-2.1-.3-2.1 0-3.5 1.1-3.5 2.8s1.4 3.1 3.5 3.1c1.1 0 1.7-.3 2.1-.7v.3h2.5v-6c0-2.1-1.4-3.5-3.9-3.5-1.1 0-2.5.3-3.1.7V42c.7-.3 1.7-.7 2.5-.7 1.4 0 2.1.7 2.1 1.4-.1 0-.1.4-.1.4zm-13-.8c.3-.7 1.1-1.1 1.7-1.1 1.4 0 2.1 1.1 2.1 2.5s-.7 2.5-2.1 2.5c-.7 0-1.4-.3-1.7-1.1v-2.8zm0 5.3c.3.3 1.4 1.1 2.5 1.1 2.8 0 4.2-2.1 4.2-4.9 0-2.8-1.4-4.9-4.2-4.9-1.1 0-1.7.3-2.5 1.1v-5H6.6v13.3h2.5v-.7zM39.2 21c0-.7-.7-1.4-1.4-1.4s-1.4.7-1.4 1.4c0 1.1.7 1.4 1.4 1.4s1.4-.3 1.4-1.4m-.3 2.8h-2.5v9.1h2.5v-9.1zm-9.2 0h-2.1l-1.4 5.9-1.7-5.9H22l2.8 9.1h2.5l1.4-5.6 1.4 5.6h2.5l2.8-9.1h-2.8l-1.4 5.9-1.5-5.9zM21 21c0-.7-.7-1.4-1.4-1.4s-1.4.3-1.4 1.4.7 1.4 1.4 1.4S21 22.1 21 21m0 2.8h-2.5v9.1H21v-9.1zM9.5 20.3H6.7v12.6h2.5V27l4.9 5.9h3.1l-5.3-6.7 5.3-5.9H14l-4.5 5.3v-5.3z"></path>
        </symbol>
        <symbol id="icon-kiwibank-logo-rebrand" viewBox="0 0 56 56">
            <path fill="#6cc930" d="M0 0h56v56H0z"></path>
            <path fill="#FFF"
                  d="M45.5 46.9c0 1.1.7 1.7 1.7 1.7 1.1 0 1.7-.7 1.7-1.7 0-1.1-.7-1.7-1.7-1.7-1.1 0-1.7.7-1.7 1.7m-4.2-3.5l3.9-4.2H42l-3.1 3.5V35h-2.5v13.3h2.5v-4.2l3.1 4.2h3.1l-3.8-4.9zm-15 4.9h2.5v-5.9c.3-.7 1.1-1.4 1.7-1.4 1.1 0 1.4.7 1.4 1.7v5.6h2.5v-5.9c0-2.1-1.1-3.5-3.1-3.5-1.1 0-2.1.3-2.5 1.1v-.7h-2.5v9zm-4.2-2.4c-.3.3-1.1.7-1.7.7s-1.7-.3-1.7-1.1c0-.7.7-1.1 1.7-1.1.7 0 1.4.3 1.7.7v.8zm0-2.8c-.3-.3-1.4-.3-2.1-.3-2.1 0-3.5 1.1-3.5 2.8 0 1.7 1.4 3.1 3.5 3.1 1.1 0 1.7-.3 2.1-.7v.3h2.5v-6c0-2.1-1.4-3.5-3.9-3.5-1.1 0-2.5.3-3.1.7V42c.7-.3 1.7-.7 2.5-.7 1.4 0 2.1.7 2.1 1.4-.1 0-.1.4-.1.4zm-13-.8c.3-.7 1.1-1.1 1.7-1.1 1.4 0 2.1 1.1 2.1 2.5s-.7 2.5-2.1 2.5c-.7 0-1.4-.3-1.7-1.1v-2.8zm0 5.3c.3.3 1.4 1.1 2.5 1.1 2.8 0 4.2-2.1 4.2-4.9 0-2.8-1.4-4.9-4.2-4.9-1.1 0-1.7.3-2.5 1.1v-5H6.6v13.3h2.5v-.7zM39.2 21c0-.7-.7-1.4-1.4-1.4s-1.4.7-1.4 1.4c0 1.1.7 1.4 1.4 1.4s1.4-.3 1.4-1.4m-.3 2.8h-2.5v9.1h2.5v-9.1zm-9.2 0h-2.1l-1.4 5.9-1.7-5.9H22l2.8 9.1h2.5l1.4-5.6 1.4 5.6h2.5l2.8-9.1h-2.8l-1.4 5.9-1.5-5.9zM21 21c0-.7-.7-1.4-1.4-1.4s-1.4.3-1.4 1.4.7 1.4 1.4 1.4S21 22.1 21 21m0 2.8h-2.5v9.1H21v-9.1zM9.5 20.3H6.7v12.6h2.5V27l4.9 5.9h3.1l-5.3-6.7 5.3-5.9H14l-4.5 5.3v-5.3z"></path>
        </symbol>
        <symbol id="icon-kiwibank-logo" viewBox="0 0 56 56">
            <path fill="#76C801" d="M0 0h56v56H0z"></path>
            <path fill="#FFF"
                  d="M45.5 46.9c0 1.1.7 1.7 1.7 1.7 1.1 0 1.7-.7 1.7-1.7 0-1.1-.7-1.7-1.7-1.7-1.1 0-1.7.7-1.7 1.7m-4.2-3.5l3.9-4.2H42l-3.1 3.5V35h-2.5v13.3h2.5v-4.2l3.1 4.2h3.1l-3.8-4.9zm-15 4.9h2.5v-5.9c.3-.7 1.1-1.4 1.7-1.4 1.1 0 1.4.7 1.4 1.7v5.6h2.5v-5.9c0-2.1-1.1-3.5-3.1-3.5-1.1 0-2.1.3-2.5 1.1v-.7h-2.5v9zm-4.2-2.4c-.3.3-1.1.7-1.7.7s-1.7-.3-1.7-1.1c0-.7.7-1.1 1.7-1.1.7 0 1.4.3 1.7.7v.8zm0-2.8c-.3-.3-1.4-.3-2.1-.3-2.1 0-3.5 1.1-3.5 2.8 0 1.7 1.4 3.1 3.5 3.1 1.1 0 1.7-.3 2.1-.7v.3h2.5v-6c0-2.1-1.4-3.5-3.9-3.5-1.1 0-2.5.3-3.1.7V42c.7-.3 1.7-.7 2.5-.7 1.4 0 2.1.7 2.1 1.4-.1 0-.1.4-.1.4zm-13-.8c.3-.7 1.1-1.1 1.7-1.1 1.4 0 2.1 1.1 2.1 2.5s-.7 2.5-2.1 2.5c-.7 0-1.4-.3-1.7-1.1v-2.8zm0 5.3c.3.3 1.4 1.1 2.5 1.1 2.8 0 4.2-2.1 4.2-4.9 0-2.8-1.4-4.9-4.2-4.9-1.1 0-1.7.3-2.5 1.1v-5H6.6v13.3h2.5v-.7zM39.2 21c0-.7-.7-1.4-1.4-1.4s-1.4.7-1.4 1.4c0 1.1.7 1.4 1.4 1.4s1.4-.3 1.4-1.4m-.3 2.8h-2.5v9.1h2.5v-9.1zm-9.2 0h-2.1l-1.4 5.9-1.7-5.9H22l2.8 9.1h2.5l1.4-5.6 1.4 5.6h2.5l2.8-9.1h-2.8l-1.4 5.9-1.5-5.9zM21 21c0-.7-.7-1.4-1.4-1.4s-1.4.3-1.4 1.4.7 1.4 1.4 1.4S21 22.1 21 21m0 2.8h-2.5v9.1H21v-9.1zM9.5 20.3H6.7v12.6h2.5V27l4.9 5.9h3.1l-5.3-6.7 5.3-5.9H14l-4.5 5.3v-5.3z"></path>
        </symbol>
        <symbol id="icon-linkedin" viewBox="0 0 24 24">
            <path d="M19 0H5a5 5 0 0 0-5 5v14a5 5 0 0 0 5 5h14a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z"></path>
        </symbol>
        <symbol id="icon-load-next" viewBox="0 0 28 14">
            <path d="M20 14V9H0V5h20V0l8 7.01L20 14"></path>
        </symbol>
        <symbol id="icon-mail" viewBox="0 0 10 8"><title>Email_PMS350</title>
            <path d="M.583 6.3c0 .443.474.917.917.917h7c.543 0 .917-.374.917-.917V1.7c0-.543-.374-.917-.917-.917h-7c-.543 0-.917.374-.917.917v4.6zm-.566 0V1.7C.017.843.643.217 1.5.217h7c.857 0 1.483.626 1.483 1.483v4.6c0 .857-.626 1.483-1.483 1.483h-7C.743 7.783.017 7.057.017 6.3z"></path>
            <path d="M3.703 4.303L.953 7.148a.213.213 0 0 1-.306-.296l2.755-2.85L.55 1.15a.213.213 0 1 1 .3-.3l3 3 1 1a.397.397 0 0 0 .2 0l4-4a.213.213 0 1 1 .3.3l-2.8 2.802 2.804 2.9a.213.213 0 0 1-.306.296l-2.8-2.896-.898.898c-.183.183-.617.183-.8 0l-.847-.847z"></path>
        </symbol>
        <symbol id="icon-marker-small" viewBox="0 0 13 13">
            <path d="M6.5.2c-2.2 0-4 1.7-4 3.9s4 8.6 4 8.6 4-6.3 4-8.6S8.7.2 6.5.2zM6.6 6c-1.1 0-1.8-.8-1.8-1.7s.7-1.7 1.8-1.7 1.7.7 1.7 1.7S7.6 6 6.6 6z"></path>
        </symbol>
        <symbol id="icon-marker" viewBox="0 0 16 16">
            <path d="M8 .2c-2.7 0-4.7 2-4.7 4.6S8 15.7 8 15.7s4.6-8.2 4.6-10.9S10.8.2 8 .2zm.1 6.6C6.9 6.8 6 6 6 4.8s.9-2 2.1-2 2 .9 2 2-.9 2-2 2z"></path>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 16 16">
            <path d="M1.9 2.3h12.2c.5 0 .9.3.9.9s-.4.8-.9.8H1.9c-.6-.1-.9-.3-.9-.8s.3-.9.9-.9zm0 4.8h12.2c.5 0 .9.3.9.9 0 .5-.4.9-.9.9H1.9c-.6 0-.9-.4-.9-.9s.3-.9.9-.9zm0 4.9h12.2c.5 0 .9.3.9.9s-.4.9-.9.9H1.9c-.5 0-.9-.4-.9-.9s.3-.9.9-.9z"></path>
        </symbol>
        <symbol id="icon-mobile" viewBox="0 0 8 12"><title>Mobile_PMS350</title>
            <path d="M6 11.117c.593 0 1.117-.524 1.117-1.217v-8C7.117 1.257 6.643.783 6 .783H2C1.357.783.883 1.257.883 1.9V10c0 .643.474 1.117 1.117 1.117h4zm0 .566H2A1.65 1.65 0 0 1 .317 10V1.9A1.65 1.65 0 0 1 2 .217h4A1.65 1.65 0 0 1 7.683 1.9v8c0 1.007-.776 1.783-1.683 1.783z"></path>
            <path d="M2.413 2.313v5.774h3.274V2.313H2.413zM2.2 1.887h3.7c.117 0 .213.096.213.213v6.2a.213.213 0 0 1-.213.213H2.2a.213.213 0 0 1-.213-.213V2.1c0-.117.096-.213.213-.213z"></path>
            <circle cx="4" cy="9.8" r="1"></circle>
        </symbol>
        <symbol id="icon-mouse" viewBox="0 0 24 22">
            <path d="M9.223 13.867l-1.28-1.85A3 3 0 0 1 8.7 7.843l1.848-1.282 2.99 4.315-4.315 2.991zm5.549-3.844l4.316-2.989-1.282-1.849a2.998 2.998 0 0 0-4.174-.758l-1.851 1.281 2.991 4.315zm-4.694 5.078l2.99 4.316A5.992 5.992 0 0 0 18.004 22a6.004 6.004 0 0 0 4.928-9.418l-2.989-4.314-9.865 6.833zm-4.47-6.77c.353-1.73-.451-2.938-1.033-4.231C3.551 1.816 6.14.394 7.617 2.457c.193.27 2.067 2.863 2.067 2.863l1.191-.835-2.074-2.876C8 .489 6.906 0 5.861 0 3.747 0 2.269 2.2 3.196 4.565c.478 1.218 1.282 2.019.985 3.474-.247 1.207-1.803 2.077-3.367 1.023L0 10.271c2.463 1.658 5.164.238 5.608-1.94z"></path>
        </symbol>
        <symbol id="icon-padlock" viewBox="-0.5 -0.5 17 17">
            <path d="M13.6 7.2c-.2 0-.6-.1-1-.1V5.6C12.6 3 10.6 1 8 1S3.4 3 3.4 5.6v1.6c-.4 0-.6.1-1 .1v7c0 .3.2.5.6.5h.3c1 .2 2.4.2 4.7.2h.1c2.2 0 3.7-.1 4.7-.1h.2c.4-.1.5-.4.5-.5l.1-7.2zM5.3 5.6c0-1.5 1.3-2.8 2.8-2.8s2.8 1.3 2.8 2.8v1.5H5.2c.1 0 .1-1.5.1-1.5z"></path>
        </symbol>
        <symbol id="icon-pause" viewBox="0 0 18 32">
            <path d="M5.333 2.963a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0m0 25.671a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
            <path d="M.333 2.963h5v25.671h-5V2.963zm17.25 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0m0 25.671a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
            <path d="M12.583 2.963h5v25.671h-5V2.963z"></path>
        </symbol>
        <symbol id="icon-pdf" viewBox="0 0 14 14">
            <path fill="none" stroke="#000" stroke-width=".4" d="M3.7.8h5.7c1.2.9 2.7 2.3 3.7 3.7v8.7H3.7V.8z"></path>
            <path fill="none" stroke="#000" stroke-width=".4"
                  d="M9.4.8c1.4 1 2.7 2.3 3.7 3.7-.6-.7-1.6-1-2.6-1 .1-1.3-.4-2.1-1.1-2.7z"></path>
            <path fill="#F91D0A"
                  d="M7 9c.2-.5.5-.9.7-1.5l.1-.2c-.2-1-.5-1.9-.3-2.4 0-.2.2-.2.4-.2H8c.2 0 .3.3.4.4 0 .2-.1.5-.1.5 0-.1 0-.3-.1-.5s-.1-.3-.3-.4c-.1 0-.1.1-.1.2v.4c0 .4.1.8.2 1.3v-.2c0-.1.2-.8.2-.8s-.1.9-.1 1.2c0 .1 0 .2-.1.2.2.6.6 1.2 1.1 1.7.2.1.4.3.6.4.5-.1.8-.1 1.2-.1.5 0 .8.1.9.2.1.1.1.2.1.2v.1s0-.1-.4-.2c-.3-.1-.8-.1-1.5 0 .8.4 1.5.5 1.8.5.1 0 .2-.2.2-.2l-.1.2c0 .1-.1.1-.2.2-.4.1-1.3-.2-2.2-.6-.9.1-2 .4-2.8.7-.8 1.5-1.4 2.1-2 1.9l-.1-.1c-.1-.1-.1-.1-.1-.2-.2-.3.2-.8.9-1.2.1-.1.4-.2.4-.2l-.3.3c-.5.5-1 1.1-1 1.3.8 0 1.6-1.1 2.5-2.9m.4.1c-.1.3-.3.5-.5.8.8-.3 1.7-.5 2.4-.7-.1-.1-.2-.2-.3-.2-.4-.4-.8-.8-1-1.3-.2.4-.4.9-.6 1.4m4.9 1.2c.1-.1.1-.1 0 0 0-.1 0-.1 0 0zm0 .1l-.1-.2h.2l-.1.2c.1-.1.1 0 0 0l.1.1h-.1v-.1zm.1.1c-.2 0-.2-.1-.2-.2 0-.2.1-.2.2-.2.2 0 .2.1.2.2s-.2.2-.2.2zm.1-.2c0-.1-.1-.1-.2-.1s-.2.1-.2.1c0 .1.1.2.2.2s.2-.2.2-.2z"></path>
            <path d="M8.1 12.1v-.4c0-.1-.1-.3-.1-.4 0 .2-.1.3-.1.4l-.1.4h.3zm-.3.2v.5h-.3l.4-1.9h.4l.3 1.9h-.3l-.1-.5h-.4zm1.3-.4c0-.2-.1-.3-.2-.3s-.1.2-.1.4.1.4.1.4c.1 0 .1 0 .2-.2v-.3zm.4-1.1v2h-.2v-.2l-.2.2c-.2 0-.4-.3-.4-.7 0-.5.2-.7.4-.7.1 0 .2.1.2.1v-.7h.2zm.7 1.7c.2 0 .2-.2.2-.5 0-.2 0-.5-.2-.5-.2.1-.2.3-.2.5 0 .3 0 .5.2.5zm0 .3c-.3 0-.4-.2-.4-.7s.2-.7.4-.7c.3 0 .5.2.5.7-.1.5-.4.7-.5.7zm.9-.5c0 .2.1.3.2.3s.1-.2.1-.4-.1-.4-.1-.4c-.1 0-.1.1-.2.1v.4zm-.3-1.5h.3v.7c.1-.1.2-.1.2-.1.2 0 .4.3.4.7 0 .5-.1.7-.4.7-.1 0-.1-.1-.2-.2v.2h-.2v-.4l-.1-1.6zm1.6 1.2c0-.2-.1-.3-.2-.3s-.2.1-.2.3h.4zm-.3.2c0 .2.2.3.2.3.1 0 .2 0 .2-.1l.1.2c-.1 0-.2.1-.3.1-.3 0-.5-.2-.5-.7s.2-.7.4-.7.4.2.4.6v.2l-.5.1z"
                  fill="#1A171B"></path>
            <path fill="#E20303" d="M1.1 1.6h8.5v2.9H1.1z"></path>
            <path fill="#BA0412" d="M9.8 4.7H.9V1.5h8.8c.1 0 .1 3.2.1 3.2zm-.4-2.9H1.3v2.6h8.2l-.1-2.6z"></path>
            <path fill="#FFF9F9"
                  d="M3.3 2.1h.6c.1 0 .3 0 .4.1.1.1.2.2.2.5s0 .3-.2.4c-.1.1-.3.2-.4.2h-.2V4h-.4V2.1m.4.3v.5h.2c.1 0 .2 0 .2-.1s.1-.1.1-.2c0-.2 0-.2-.1-.2-.1-.1-.2 0-.2 0h-.2m1.4 0v1.2h.1c.2 0 .3 0 .4-.1s.1-.2.1-.4 0-.3-.1-.5c-.1-.1-.2-.1-.5-.2m-.3-.3h.4c.2 0 .4 0 .5.1.1 0 .2.1.3.2 0 0 .1.1.1.3 0 .1.1.2.1.4 0 .1 0 .2-.1.4 0 .1-.1.2-.1.3-.1 0-.3.1-.4.1s-.3.1-.5.1h-.4V2.1m1.7 0h1v.4h-.7v.3h.6v.4h-.6V4h-.3V2.1"></path>
        </symbol>
        <symbol id="icon-pencil" viewBox="0.5 0.5 15 15">
            <path d="M7.9 3.5c1.3.8 2.7 1.9 3.9 2.7C10.5 8 9.2 9.9 8 11.7l-.1.1c-.2.1-.5.1-.6 0-.5-.1-.8-.2-1.3-.6-.6-.2-1.1-.6-1.4-1.1-.4-.2-.5-.3-.5-.7v-.2c0-.1 0-.3.1-.4 1.1-1.5 2.3-3.4 3.7-5.3zm4.4 1.9c-1.2-.7-2.6-1.8-3.9-2.6v-.1c.2-.2.4-.6.5-.8.4-.4.8-.5 1.1-.3.2.1.5.2.6.3.7.5 1.4 1.1 2 1.5.3.2.5.3.5.7 0 .1 0 .2-.1.5-.3.3-.5.5-.7.8zm-5.1 7.2c-.1.1-.2.1-.2.2-1.1.6-2 1.1-3.2 1.4-.3.2-.5.3-.6.3-.1 0-.1 0-.2-.1-.1 0-.1 0-.1-.2v-.8c0-.6.1-1.2.1-1.8.1-.6.1-1.1.2-1.6 0 .2.2.5.5.6.3.5.7.7 1.1 1.1.3.3.6.6 1.4.8.4.2 1 .1 1 .1z"></path>
        </symbol>
        <symbol id="icon-play-big" viewBox="0 0 35.2 40">
            <path d="M.1 2.2C.1.3 1.4-.5 3.1.4l30.8 17.8c1.7.9 1.7 2.5 0 3.5L3.1 39.5c-1.7.9-3 .2-3-1.8V2.2z"></path>
        </symbol>
        <symbol id="icon-play-rounded" viewBox="0 0 28 32">
            <path d="M0 2.41C0 .21 1.375-.615 3.3.485L25.85 13.41c2.2 1.1 2.2 3.025 0 4.4L3.575 30.735C1.375 32.11 0 31.01 0 28.535V2.41"></path>
        </symbol>
        <symbol id="icon-play-sharp" viewBox="0 0 100 100"><title>Play - sharp</title>
            <g transform="translate(3 3)" fill="none" fill-rule="evenodd">
                <circle stroke="#FFF" stroke-width="5" cx="47" cy="47" r="47"></circle>
                <path fill="#FFF" d="M77 45.5L32 73V18z"></path>
            </g>
        </symbol>
        <symbol id="icon-play-small" viewBox="0 0 84 84"><title>Play-small</title>
            <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                <circle stroke="#FFF" stroke-width="4" cx="40" cy="40" r="40"></circle>
                <path fill="#FFF" d="M59.767 39.802L29 58.604V21z"></path>
            </g>
        </symbol>
        <symbol id="icon-play" viewBox="0 0 14 14">
            <path d="M2 2.2c0-.8.5-1.1 1.2-.7l8.2 4.7c.8.4.8 1.1 0 1.6l-8.1 4.7c-.8.5-1.3.1-1.3-.8V2.2z"></path>
        </symbol>
        <symbol id="icon-postshop-logo" viewBox="0 0 32 32">
            <circle fill="#E02425" cx="16" cy="16" r="15"></circle>
            <g fill="#FFF">
                <path d="M9 13v6c0 .4-.1.8-.1 1.2 0 .1.1.3.1.3.2.2.5.2.7.2h13.1c.6 0 .8-.2.8-.9v-3.5c0-.6.2-1.1.6-1.5.6-.7 1.4-1.1 2.4-1.2 0 1.7-.1 3.3-.1 5h-.1v-1.9h-.1v3.5c0 1.8-1.2 3-3 3h-6.2v.2h6v.1h-9.7v-.1h1.8v-.1H9.1c-1.7 0-3-1.4-2.9-2.9.1-3.1 0-6.2 0-9.3 0-.4-.1-.9-.1-1.3h2.1c.7 0 1.2.2 1.7.6 1.1.9 2.3 1.8 3.4 2.7l2.2 1.7c.3.2.7.4 1 .2 1.3-.9 2.7-1.9 4-2.9V12h-4.1c-.2 0-.4.1-.6.1-.5.1-1.1.1-1.5-.2-.8-.3-1.4-.9-1.9-1.6-.2-.3-.3-.7-.4-1h13.2c.5.1.9.3 1.1.8.1.5-.1 1.1-.6 1.4-1.1.8-2.2 1.5-3.3 2.3-1.6 1.1-3.3 2.3-4.9 3.4-.5.3-1 .5-1.4.7.4 0 .9-.2 1.4-.5 2.5-1.8 5.1-3.5 7.6-5.3.4-.2.7-.5 1.1-.7 0 0 .1 0 .1.1l-.6.6c-1.8 1.2-3.5 2.5-5.3 3.7-.9.7-1.9 1.3-2.8 1.9-1.1.7-2.3.6-3.3-.2L9 13z"></path>
                <path d="M26 6.2c-.3-.2-.7-.4-1-.6-2.2-1.5-4.6-2.5-7.2-2.8-2.3-.2-4.6 0-6.7.9C7.5 5.3 5 7.9 3.5 11.4c-.4.9-.6 1.8-1 2.7 0 .1-.1.3-.2.4h-.1c0-.2-.1-.4-.1-.6.1-1.2.3-2.3.7-3.4.7-1.9 1.8-3.6 3.2-5 2.7-2.6 5.9-4 9.7-4 1.3 0 2.6.1 3.9.5 1.4.4 2.7.9 3.9 1.8.8.6 1.5 1.2 2.2 1.8.2.1.3.3.4.5l-.1.1z"></path>
            </g>
        </symbol>
        <symbol id="icon-quote-mark" viewBox="0 0 53 44">
            <path fill="#6C3"
                  d="M23.823 0l.83 1.743c-3.652 1.439-6.516 2.988-8.591 4.649-2.075 1.66-3.888 3.818-5.437 6.474-2.269 3.93-3.597 7.775-3.984 11.538 1.55-.498 2.877-.747 3.984-.747 3.044 0 5.52.913 7.43 2.74 1.908 1.826 2.863 4.15 2.863 6.972s-.955 5.216-2.864 7.18c-1.909 1.965-4.22 2.947-6.931 2.947-3.32 0-6.004-1.328-8.052-3.984C1.024 36.855 0 33.369 0 29.052c0-4.316 1.038-8.604 3.113-12.865 2.075-4.262 4.8-7.748 8.176-10.46C14.941 2.85 19.12.942 23.823 0zm28.389 0l.747 1.743c-3.652 1.439-6.516 2.988-8.591 4.649-2.076 1.66-3.86 3.818-5.354 6.474-2.325 3.93-3.68 7.775-4.068 11.538 1.55-.498 2.878-.747 3.985-.747 3.043 0 5.52.913 7.429 2.74 1.91 1.826 2.864 4.15 2.864 6.972s-.955 5.216-2.864 7.18c-1.91 1.965-4.22 2.947-6.931 2.947-3.32 0-6.005-1.328-8.052-3.984-2.048-2.657-3.071-6.143-3.071-10.46 0-4.316 1.037-8.604 3.112-12.865 2.076-4.262 4.829-7.748 8.26-10.46C43.275 2.85 47.453.942 52.212 0z"></path>
        </symbol>
        <symbol id="icon-radio_button--checked" viewBox="0 0 32 32">
            <path fill="#669627"
                  d="M15.5 25.6S12.4 21.7 5 14.3l2.5-2.5 6.5 5.6C26.1 5.4 30.1 2.9 30.1 2.9s.8 0 1.6 1.6c-7.2 6.7-16.2 21.1-16.2 21.1z"></path>
            <path fill="#777"
                  d="M26.5 12.6c.3 1 .5 2.2.5 3.3 0 6.3-5.1 11.5-11.5 11.5S4.1 22.2 4.1 15.9 9.2 4.4 15.5 4.4c2.7 0 5.3 1 7.2 2.6.9-.8 1.6-1.5 2.3-2.1-2.6-2.2-5.9-3.6-9.6-3.6C7.5 1.4 1 7.9 1 15.9s6.5 14.5 14.5 14.5S30 23.9 30 15.9c0-2.1-.5-4.2-1.3-6-.7.9-1.4 1.8-2.2 2.7z"></path>
        </symbol>
        <symbol id="icon-radio_button" viewBox="0 0 32 32">
            <circle fill="none" stroke="#777" stroke-width="3" stroke-miterlimit="10" cx="15.5" cy="15.9"
                    r="13"></circle>
        </symbol>
        <symbol id="icon-rebrand-alert-square" viewBox="0 0 48 48">
            <g fill="none" fill-rule="evenodd">
                <path fill="currentColor" d="M0 0h48v48H0z"></path>
                <path d="M25.5 17.08c0 1.53-.48 6.18-1.02 11.31h-1.32c-.18-3.57-.75-10.62-.75-14.37.24-.03.57-.06 1.05-.06 2.07 0 2.04 1.32 2.04 3.12zm-3.42 15.57c0-.93.81-1.74 1.71-1.74.93 0 1.74.81 1.74 1.74 0 .87-.81 1.68-1.74 1.68-.9 0-1.71-.81-1.71-1.68z"
                      fill="#FFF" fill-rule="nonzero"></path>
            </g>
        </symbol>
        <symbol id="icon-rebrand-arrow-right" viewBox="0 0 19 8">
            <g stroke="currentColor" fill="none">
                <path d="M1.121 4.015H16.88" stroke-linecap="square"></path>
                <path d="M14.077.229L17.776 4l-3.7 3.771"></path>
            </g>
        </symbol>
        <symbol id="icon-rebrand-info-square" viewBox="0 0 48 48">
            <g fill="none" fill-rule="evenodd">
                <path fill="currentColor" d="M0 0h48v48H0z"></path>
                <path d="M24.48 15.1c0-.9.75-1.65 1.65-1.65.9 0 1.65.75 1.65 1.65 0 .9-.75 1.65-1.65 1.65-.9 0-1.65-.75-1.65-1.65zm-2.97 17.34c0-.96.48-2.31 2.4-10.86l-2.28-.51.09-.63c.84-.42 1.77-.78 2.79-.78 1.41 0 1.89.81 1.89 1.62 0 .72-.6 3.3-1.2 5.7l-1.29 5.13c1.02.21 2.55.6 2.55.6l-.09.63c-.69.57-1.59.99-2.52.99-1.5 0-2.34-.81-2.34-1.89z"
                      fill="#FFF" fill-rule="nonzero"></path>
            </g>
        </symbol>
        <symbol id="icon-rebrand-left-right-arrows" viewBox="0 0 13 10">
            <path d="M8.182 3.707l1.975 1.975H5.536v1h4.62L8.183 8.655l.707.707 3.182-3.182L8.89 3zM3.182 0L0 3.182l3.182 3.182.706-.708-1.974-1.974h4.621v-1h-4.62L3.887.705z"
                  fill="currentColor" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-rebrand-list" viewBox="0 0 12 7">
            <path d="M0 0h12v1H0zm0 3h12v1H0zm0 3h12v1H0z" fill="currentColor" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-search" viewBox="-0.5 -0.5 17 17">
            <path d="M15.1 13.9l-4.5-4.6c.7-.8 1.1-2 1.1-3.2C11.7 3 9.2.5 6.1.5S.6 3 .6 6.1s2.5 5.6 5.6 5.6c1.2 0 2.3-.4 3.3-1.1l4.3 4.5c.4.4 1 .5 1.4.1.3-.5.3-1-.1-1.3zm-8.9-4c-2 0-3.7-1.7-3.7-3.7s1.7-3.7 3.7-3.7 3.7 1.7 3.7 3.7-1.7 3.7-3.7 3.7z"></path>
        </symbol>
        <symbol id="icon-speech-bubble" viewBox="0 0 14 14">
            <path d="M.3 4.6C.5 4.1.8 3.5 1.4 3c.6-.6 1.4-1 2.2-1.2 1-.3 2-.4 3-.3.9.1 1.6.3 2.3.7s1.2.8 1.7 1.5c.3.6.6 1.1.6 1.8 0 .6-.2 1.2-.5 1.8-.4.7-.9 1.3-1.6 1.6-.9.6-1.8.8-2.8.9-.9.1-1.8 0-2.7-.3-.5.4-1.1.8-1.8.9H.9c-.1 0-.2 0-.3-.1.1-.1.1-.2.2-.3l.3-.2.7-.7c.1-.2.3-.3.4-.4l-.1-.1c-.4-.3-.7-.6-1.1-.9C.7 7.2.4 6.6.2 6c0 .1-.2-.6.1-1.4z"></path>
            <path d="M12.1 10.8c.1.1.3.3.4.5.2.3.4.5.7.7l.3.3c.1.1.1.1 0 .2s-.2.1-.3.1c-.3 0-.4 0-.7-.1-.8-.2-1.5-.4-2.1-1.1h-.1c-.7.2-1.5.3-2.3.3-.9 0-1.8-.3-2.7-.7-.3-.1-.6-.3-.7-.4h.2c1.2.1 2.5 0 3.7-.4.9-.3 1.8-.8 2.4-1.5.5-.5 1-1.1 1.1-1.8.3-.7.4-1.4 0-2.1v-.3c.6.3 1.1.9 1.5 1.5.6 1.1.6 2.3-.1 3.3-.6 1-1.3 1.5-1.3 1.5z"></path>
        </symbol>
        <symbol id="icon-telephone" viewBox="0 0 10 10"><title>Phone_PMS350</title>
            <path d="M8.843 7.599c.008-.044.01-.06.013-.084.005-.04.004-.055.044-.015l-.083-.2c0 .084-.008.103.004.12-.027-.017-.08-.054-.146-.099-.149-.1-.356-.229-.583-.365-.327-.197-.83-.473-.792-.473h-.2a.471.471 0 0 0-.092.033c-.192.363-.417.661-.668.744-.173.167-.265.223-.44.223h-.1l-.127-.03a4.304 4.304 0 0 1-.472-.295A12.99 12.99 0 0 1 3.909 6.11c-.95-.865-1.392-1.572-1.392-2.01 0-.194.069-.287.283-.5.15-.15.15-.15.373-.354A.955.955 0 0 0 3.4 3.1c.086-.087.117-.128.117-.1v-.12L2.496 1.21a.487.487 0 0 0-.17.044c-.86.43-1.143.995-1.143 1.646 0 .27.102.81.32 1.387a6.69 6.69 0 0 0 1.689 2.504c1.029.943 1.976 1.543 2.823 1.87.296.114.56.186.787.225.14.024.229.03.298.03.64 0 1.36-.365 1.72-1.182l.023-.135zM2.514 1.208a.076.076 0 0 0 .007 0h-.007zM8.821 7.42a1.184 1.184 0 0 0 .012.013L8.82 7.42zM7.1 9.483c-.97 0-2.42-.56-4.295-2.277A7.267 7.267 0 0 1 .972 4.488C.731 3.847.617 3.239.617 2.9c0-.85.384-1.617 1.456-2.154.335-.167.824-.18.9.158l1.069 1.748.041.148V3c0 .194-.069.287-.283.5a.917.917 0 0 1-.3.2l-.3.3c-.086.087-.117.128-.117.1 0 .242.364.823 1.208 1.59.472.43.884.76 1.233 1.002.157.11.274.182.347.225H5.9c-.028 0 .013-.031.1-.117l.2-.083c-.004 0 .232-.315.346-.544l.127-.127c.189-.094.332-.13.427-.13h.2c.215 0 1.576.798 1.974 1.21L9.3 7.1c.128.128.145.279.119.485l-.018.112-.017.103a.281.281 0 0 1-.025.115c-.453 1.08-1.4 1.568-2.259 1.568z"></path>
        </symbol>
        <symbol id="icon-tick" viewBox="0 0 14 14">
            <path d="M5.7 12.2S4.2 10.4.9 7L2 6l3 2.5c5.5-5.5 7.4-6.7 7.4-6.7s.3 0 .8.7c-3.6 3.2-7.5 9.7-7.5 9.7z"></path>
        </symbol>
        <symbol id="icon-twentyfour-hours" viewBox="0 0 16 16">
            <path d="M10.298 10.3a.687.687 0 0 1-.898.363l-2.795-1.18a.678.678 0 0 1-.408-.626V5.101a.68.68 0 1 1 1.36 0v3.303L9.936 9.41a.68.68 0 0 1 .363.89z"></path>
            <path d="M9.473 1.298a6.964 6.964 0 0 1 4.51 4.093l.217-.417a.676.676 0 0 1 .917-.282.677.677 0 0 1 .29.917L14.391 7.55a.677.677 0 0 1-.762.345.444.444 0 0 1-.155-.055l-1.96-1.025a.677.677 0 0 1-.29-.917.688.688 0 0 1 .916-.29l.59.308A5.627 5.627 0 0 0 7.503 2.37a5.638 5.638 0 0 0-5.626 5.636 5.635 5.635 0 0 0 5.626 5.626c1.216 0 2.387-.4 3.34-1.107a5.603 5.603 0 0 0 2.06-2.94.678.678 0 0 1 .843-.463.677.677 0 0 1 .463.844 6.993 6.993 0 0 1-8.675 4.745A7.004 7.004 0 0 1 .797 6.035a6.993 6.993 0 0 1 6.706-5.027c.645 0 1.307.09 1.97.29z"></path>
        </symbol>
        <symbol id="icon-twitter" viewBox="0 0 14 14">
            <path d="M12.4 7.3c-.7 3-3.9 4.7-6.8 4.7-2.3 0-4.3-.9-5.6-2.9.7.6 1.6 1 2.5 1 1 0 1.9-.4 2.6-1.1-.3 0-1-.2-1-.6 0-.3.4-.6.6-.6-.6.1-1.3-.2-1.6-.9.3-.3.6-.4 1-.4-.9-.1-1.5-.6-1.6-1.4.1-.1.4-.1.7-.1h.1C2.6 4.6 2 4 2.1 3.2v-.1c1.2.4 2.4 1 3.6 1.7.3.3.7.5 1 .9.4-1.2 1-2.8 2.2-3.5 0 .2-.1.3-.2.4.3-.4.8-.4 1.1-.6 0 .4-.4.4-.7.6.4-.1.8-.4 1.1-.4.1 0 .2 0 .2.2 0 .3-1 .4-1.2.5 1.6-.2 2.8 1.3 3.2 2.8.2.1.3.1.5.1.3 0 .9-.1 1.1-.3-.3.6-1 .9-1.6 1 .3.2.8.2 1.1.2h.4c-.2.4-.8.6-1.5.6z"></path>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 24 24">
            <path d="M19 7.001A7 7 0 1 1 4.999 7 7 7 0 0 1 19 7zm-1.598 7.18A8.937 8.937 0 0 1 12 16.001a8.953 8.953 0 0 1-5.407-1.822C2.521 15.972 0 21.555 0 24h24c0-2.423-2.6-8.006-6.598-9.819z"></path>
        </symbol>
        <symbol id="icon-video-big" viewBox="0 0 24 24">
            <path d="M16.7 20.1c0 .3-.3.6-.8.6H2.8c-.5 0-.8-.3-.8-.6v-9.3c0-.3.3-.6.8-.6h13.1c.5 0 .8.3.8.6v9.3z"></path>
            <circle cx="6.2" cy="6" r="2.7"></circle>
            <circle cx="12.7" cy="6" r="2.7"></circle>
            <path d="M16.1 14.8l5.9-4v9.3l-5.9-4z"></path>
        </symbol>
        <symbol id="icon-video" viewBox="0 0 14 14">
            <path d="M9.9 12c0 .2-.2.4-.5.4H1.2c-.3 0-.5-.2-.5-.4V6.2c0-.2.2-.4.5-.4h8.2c.3 0 .5.2.5.4V12z"></path>
            <circle cx="3.3" cy="3.2" r="1.7"></circle>
            <circle cx="7.4" cy="3.2" r="1.7"></circle>
            <path d="M9.5 8.7l3.7-2.5V12L9.5 9.5z"></path>
        </symbol>
        <symbol id="icon-warning" viewBox="0 0 17 17">
            <path d="M16.2 13.6c.2.3.2.7 0 1.1-.2.3-.6.5-.9.5H2.1c-.4 0-.7-.2-.9-.5-.2-.3-.2-.7 0-1.1l6.6-12c.1-.4.5-.6.9-.6s.8.2 1 .6l6.5 12zm-6.5-8c0-.1 0-.1-.1-.2 0 0-.1-.1-.2-.1H7.9c-.1 0-.1.1-.2.1 0 0-.1.1-.1.2l.1 3.9c0 .1.1.2.2.2h1.3c.1 0 .2-.1.2-.2l.3-3.9zm-.1 5.5c0-.2-.1-.3-.2-.3H8c-.1 0-.2.1-.2.3v1.6c0 .2.1.3.2.3h1.4c.1 0 .2-.1.2-.3v-1.6z"></path>
        </symbol>
    </svg>
</div>

<div class="site-container anim-overlay-body">


    <!--[if lte IE 9]>
    <div class="t-light-blue u-current-background-color-dark">
        <div class="u-current-background-color site-width">
            <div class="gutters section section--skinny@large">
                <div class="u-current-color-alt">
                    <p class="browserupgrade">We see you’re using an <strong>outdated</strong> browser. We’d love it if
                        you’d consider <a class="u-underline" href="http://browsehappy.com/">upgrading your browser</a>,
                        it will improve your experience with us.</p>
                </div>
            </div>
        </div>
    </div>
    <![endif]-->


    <div id="header" class="header t-secondary u-current-border-dark u-current-background-color-dark" role="banner">
        <div class="header__content site-width u-current-background-color">

            <div class="gutters">
                <div class="grid grid--middle">

                    <div class="header__nav header__nav--primary width-1/4 width-2/3@medium">

                        <div class="header__logo u-align-middle">
                            <a href="/" class="logo">
                                <svg class="icon icon-logo">
                                    <title>Kiwibank</title>
                                    <use xlink:href="#icon-kiwibank-logo-rebrand" aria-hidden="true"></use>
                                </svg>
                            </a>
                        </div>


                        <div class="nav-primary u-align-middle u-show--inline-block@medium">


                            <div class="nav-primary__item">

                                <a href="/personal-banking/" class="u-current-link icon-text nav-primary__link"
                                   data-key="internal link">Personal</a>
                            </div>


                            <div class="nav-primary__item">

                                <a href="/business-banking/" class="u-current-link icon-text nav-primary__link"
                                   data-key="internal link">Business</a>
                            </div>


                            <div class="nav-primary__item">

                                <a href="/join-kiwibank/" class="u-current-link icon-text nav-primary__link"
                                   data-key="internal link"><span class="u-show--inline@large">Join Kiwibank</span><span
                                            class="u-hide--inline@large">Join</span></a>
                            </div>


                            <div class="nav-primary__item">

                                <a href="/about-us/" class="u-current-link icon-text nav-primary__link"
                                   data-key="internal link">About us</a>
                            </div>


                            <div class="nav-primary__item">

                                <a href="/contact-us/" class="u-current-link icon-text nav-primary__link"
                                   data-key="internal link">Contact us</a>
                            </div>


                        </div>


                    </div>

                    <div class="header__nav header__nav--secondary width-1/3@medium u-text-right u-show--inline-block@medium">


                        <div class="nav-primary u-align-middle u-show--inline-block@medium">


                            <div class="nav-primary__item">

                                <a href="/search/" class="u-current-link icon-text--rev nav-primary__link"
                                   data-key="custom link">Search
                                    <svg class="icon u-current-icon-alt">
                                        <title>Search</title>
                                        <use xlink:href="#icon-search" aria-hidden="true"></use>
                                    </svg>
                                </a>
                            </div>


                            <div class="nav-primary__item">

                                <a href="http://www.ib.kiwibank.co.nz/"
                                   class="u-current-link icon-text--rev nav-primary__link"
                                   data-key="external link"><span
                                            class="u-show--inline@large">Internet banking login</span><span
                                            class="u-hide--inline@large">Internet banking</span>
                                    <svg class="icon u-current-icon-alt">
                                        <title>Internet banking login</title>
                                        <use xlink:href="#icon-padlock" aria-hidden="true"></use>
                                    </svg>
                                </a>
                            </div>


                        </div>


                    </div>

                    <div class="header__nav header__nav--small width-3/4 u-text-right u-hide--inline-block@medium">

                        <a id="trigger-menu-btn" href="#" class="header__menu-trigger u-hide--inline-block@medium"
                           data-hamburger="" aria-controls="overlaynav" aria-expanded="false" aria-haspopup="true">
                            <svg class="icon icon--white icon+++">
                                <title>Navigation Menu</title>
                                <use xlink:href="#icon-hamburger" aria-hidden="true"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="site-content" class="site-content site-width  site-content--has-sidebar" role="main">


        <div class="grid">
            <div class="width-7/10@large">


                <div class="breadcrumbs">
                    <ul class="breadcrumbs__wrapper gutters">

                        <li class="breadcrumbs__item icon-text--rev">
                            <a href="/business-banking/">Business banking</a>
                            <svg class="icon u-text-muted-- icon--">
                                <use xlink:href="#icon-caret-r"></use>
                            </svg>
                        </li>

                        <li class="breadcrumbs__item icon-text--rev">
                            <a href="/business-banking/accounts-services/">Accounts and services</a>
                            <svg class="icon u-text-muted-- icon--">
                                <use xlink:href="#icon-caret-r"></use>
                            </svg>
                        </li>

                    </ul>
                </div>


                <div class="banner banner--visual-break-first@upto-medium banner--visual-default">


                    <div class="banner__visual gutters-column">


                        <div class="card card--3d card--fixed-width">

                            <div class="card__labels label-group">


                                <span class="label label--green">Base rate</span>


                            </div>
                            <div class="card__content">

                                <div class="card__visual u-no-js-hide" data-rate="664" data-size="large"
                                     data-display="block">
                                    <div class="rate rate--large"><h3 class="rate__value">9.25<span
                                                    class="u-accessible-text">% p.a.</span></h3></div>
                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="banner__content banner__content-- gutters">
                        <h1 class="banner__title ">
                            Business overdraft
                        </h1>


                        <div class="banner__intro intro--max-width">
                            <p class="intro">All businesses have ups and downs — an overdraft stays in place, so you can
                                use it whenever you need it. There are no fixed repayments, and you’ll only pay interest
                                on what you use.</p>
                        </div>


                    </div>


                </div>


                <div class="section gutters-column-left">
                    <div class="rich-text t-primary--rich-text">


                        <h2 class="u-current-color">Why an overdraft?</h2>


                        <ul class="list-ticked">
                            <li><p>Helps smooth out cashflow fluctuations, so you’re never caught short.</p></li>
                            <li><p>Stays in place — use it as often as you need to.</p></li>
                            <li><p>Only pay interest on what you use.</p></li>
                            <li><p>Repayments up to you.</p></li>
                            <li><p>Pay it off anytime.</p></li>
                        </ul>

                        <h2 class="u-current-color">How it works</h2>
                        <p>An overdraft might be right for you if you frequently have gaps in supply and payment, or you
                            regularly need to purchase materials in advance. Unlike a business loan, you’ll only pay
                            interest on what you use, and you can pay it off (and re-use it) whenever you like.</p>
                        <ul class="list-styled">
                            <li>We’ll agree an overdraft limit for your overdraft that will be accessible from your
                                transaction account.
                            </li>
                            <li>You can spend anywhere within this limit.</li>
                            <li>Interest is calculated daily and charged monthly on the amount you’ve been overdrawn
                                during the month.
                            </li>
                        </ul>
                        <h2 class="u-current-color">What it costs</h2>
                        <p>See our <a href="/business-banking/rates-and-fees/fees/business-lending/">business lending
                                fees</a>.</p>

                        <hr>


                        <div class="cta" data-key="call-to-action">
                            <h5 class="cta__title">Get in touch</h5>
                            <div class="cta__content t-feather cta__content--pullout@xsmall u-current-background-color u-current-border">


                                <div class="btn-group btn-group--block@xsmall">


                                    <button id="loan-button" class="loanOriginationButton" onClick="handleRanqxClick()">Apply Now ></button>


                                    <a href="tel:+64800601601"
                                       class="btn btn--white+green u-icon-white+green icon-text--rev "
                                       data-key="phone button">Phone 0800 601 601
                                        <svg class="icon u-icon-white+green" aria-hidden="true">
                                            <use xlink:href="#icon-mobile"></use>
                                        </svg>
                                    </a>

                                </div>


                            </div>
                        </div>

                        <div class="section section--no-bottom">
                            <h5 class="keyline--arrow-down">You may also be interested in</h5>
                            <div class=" [ grid  grid--row-spacing-small grid--col-spacing-large ]">

                                <div class="width-1/2@medium related-content__item">
                                    <a href="/business-banking/accounts-services/credit-card/"
                                       class="link-complex related-content__link">
                                        <h4 class="link-complex__faux-link related-content__heading">Business
                                            Mastercard®</h4>

                                    </a>
                                </div>

                                <div class="width-1/2@medium related-content__item">
                                    <a href="/business-banking/loans-finance/"
                                       class="link-complex related-content__link">
                                        <h4 class="link-complex__faux-link related-content__heading">Business loans and
                                            finance</h4>

                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


                <div class="section section--no-top gutters-column-left legals-wrapper">
                    <div class="legals legals--keyline" id="legals">


                        <p>Mastercard is a registered trade mark of Mastercard International Incorporated. Kiwibank's
                            lending criteria, terms and conditions, and fees apply.</p>


                    </div>
                </div>


            </div>


            <div class="sidenav width-3/10@large">
                <div class="section gutters-column-right" role="complementary">


                    <h3>Related pages</h3>
                    <nav class="secondary-nav u-space">


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/business-edge/">Transaction
                            account</a>


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/savings-investments/">Savings
                            accounts and investments</a>


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/credit-card/">Business
                            credit card</a>


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/non-profit-accounts/">Accounts
                            for non-profits</a>


                        <a class="secondary-nav__item"
                           href="/business-banking/accounts-services/business-banking-online/">Business banking
                            online</a>


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/business-visa-debit/">Visa
                            Debit Card</a>


                        <span class="secondary-nav__item">Business overdraft</span>


                        <a class="secondary-nav__item" href="/business-banking/accounts-services/insurance/">Business
                            insurance</a>


                    </nav>


                    <h3>Handy things</h3>
                    <nav class="secondary-nav t-feather">


                        <a href="/business-banking/rates-and-fees/" class="u-current-link icon-text secondary-nav__item"
                           data-key="internal link">
                            <svg class="icon">
                                <title>Rates &amp; fees</title>
                                <use xlink:href="#icon-document" aria-hidden="true"></use>
                            </svg>
                            Rates &amp; fees</a>


                        <a href="/business-banking/help-advice/talk-to-an-expert/"
                           class="u-current-link icon-text secondary-nav__item" data-key="internal link">
                            <svg class="icon">
                                <title>Talk to an expert</title>
                                <use xlink:href="#icon-pencil" aria-hidden="true"></use>
                            </svg>
                            Talk to an expert</a>


                        <a href="/business-banking/business-banking-newsletter/"
                           class="u-current-link icon-text secondary-nav__item" data-key="internal link">
                            <svg class="icon">
                                <title>Sign up: Kiwi Business Round Up</title>
                                <use xlink:href="#icon-document" aria-hidden="true"></use>
                            </svg>
                            Sign up: Kiwi Business Round Up</a>


                    </nav>


                </div>
            </div>


        </div>


        <div id="loan-origination-embed"></div>
    </div>


    <div id="menu" class="footer site-width" role="contentinfo">

        <div class="footer__content section t-secondary">
            <div class="gutters">
                <div class="grid grid--row-spacing@medium grid--col-spacing">


                    <div class="footer__panel width-1/2 width-1/5@large">


                        <h4>
                            <a href="/contact-us/" class="footer__heading-link">
                                Contact us
                            </a>
                        </h4>


                        <div class="footer__nav-item">
                            <a href="/contact-us/" class="footer__link icon-text " data-key="internal link">By phone or
                                email</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/contact-us/support-hub/" class="footer__link icon-text " data-key="internal link">Frequently
                                asked questions</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/locations/" class="footer__link icon-text " data-key="custom link">Find your local
                                Kiwibank/ATM</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/contact-us/support-hub/" class="footer__link icon-text " data-key="internal link">Digital
                                education hub</a>
                        </div>


                    </div>


                    <div class="footer__panel footer__panel-border width-1/2 width-1/5@large">


                        <h4>
                            <a href="/personal-banking/" class="footer__heading-link">
                                Personal
                            </a>
                        </h4>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/accounts/" class="footer__link icon-text "
                               data-key="internal link">Everyday accounts</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/investments/" class="footer__link icon-text "
                               data-key="internal link">Savings accounts</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/home-loans/" class="footer__link icon-text "
                               data-key="internal link">Home loans</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/accounts/manage-your-money/tools-and-calculators/"
                               class="footer__link icon-text " data-key="internal link">Tools &amp; calculators</a>
                        </div>


                    </div>


                    <div class="footer__panel footer__panel-border width-1/2 width-1/5@large">


                        <h4>
                            <a href="/personal-banking/rates-and-fees/" class="footer__heading-link">
                                Costs of borrowing
                            </a>
                        </h4>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/rates-and-fees/fees/" class="footer__link icon-text "
                               data-key="internal link">Personal banking fees</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/about-us/governance/legal-documents-and-information/standard-contracts/"
                               class="footer__link icon-text " data-key="internal link">Standard contracts</a>
                        </div>


                    </div>


                    <div class="footer__panel footer__panel-border width-1/2 width-1/5@large">


                        <h4>
                            <a href="/contact-us/support-hub/" class="footer__heading-link">
                                FAQs
                            </a>
                        </h4>


                        <div class="footer__nav-item">
                            <a href="/contact-us/support-hub/internet-banking/" class="footer__link icon-text "
                               data-key="internal link">Register for internet banking</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/contact-us/support-hub/internet-banking/common-questions/"
                               class="footer__link icon-text " data-key="internal link">Forgot your password?</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/contact-us/security/ways-to-keep-yourself-safe/phishing/"
                               class="footer__link icon-text " data-key="internal link">Forward suspicious emails</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="/personal-banking/accounts/manage-your-money/making-payments/payment-times/public-holidays/"
                               class="footer__link icon-text " data-key="internal link">Holiday payment information</a>
                        </div>


                    </div>


                    <div class="footer__panel footer__panel-border width-1/2 width-1/5@large">


                        <h4>
                            <a href="/join-kiwibank/" class="footer__heading-link">
                                Join Kiwibank
                            </a>
                        </h4>


                        <div class="footer__nav-item">
                            <a href="/locations/" class="footer__link icon-text " data-key="custom link">
                                <svg class="icon u-current-icon">
                                    <title>Find a branch</title>
                                    <use xlink:href="#icon-marker-small" aria-hidden="true"></use>
                                </svg>
                                Find a branch</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="https://twitter.com/KiwibankNZ/" class="footer__link icon-text " target="_blank"
                               rel="noopener" data-key="external link">
                                <svg class="icon u-current-icon">
                                    <title>Twitter</title>
                                    <use xlink:href="#icon-twitter" aria-hidden="true"></use>
                                </svg>
                                Twitter</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="https://www.facebook.com/KiwibankNZ" class="footer__link icon-text "
                               target="_blank" rel="noopener" data-key="external link">
                                <svg class="icon u-current-icon">
                                    <title>Facebook</title>
                                    <use xlink:href="#icon-facebook" aria-hidden="true"></use>
                                </svg>
                                Facebook</a>
                        </div>


                        <div class="footer__nav-item">
                            <a href="https://workforus.kiwibank.co.nz/home" class="footer__link icon-text "
                               target="_blank" rel="noopener" data-key="external link">
                                <svg class="icon u-current-icon">
                                    <title>Work for us</title>
                                    <use xlink:href="#icon-mouse" aria-hidden="true"></use>
                                </svg>
                                Work for us</a>
                        </div>


                    </div>


                </div>
            </div>
        </div>

        <div class="footer__legals section section--no-top">
            <div class="gutters">


                <a class="footer__link u-text-muted u-space-right"
                   href="/about-us/governance/legal-documents-and-information/website-privacy-policy/">Privacy
                    policy</a>


                <a class="footer__link u-text-muted u-space-right"
                   href="/about-us/governance/legal-documents-and-information/">Terms and conditions</a>


                <a class="footer__link u-text-muted u-space-right"
                   href="/about-us/governance/legal-documents-and-information/legal-documents/">Disclosure
                    statements</a>


                <a class="footer__link u-text-muted u-space-right" href="/about-us/news-and-updates/media-releases/">Media
                    releases</a><span
                        class="footer__faux-link u-text-muted u-space-right">© 2018 Kiwibank Limited</span>

            </div>
        </div>
    </div>


</div>


<div id="overlaynav" class="overlay-nav u-hide@medium anim-overlay-nav" data-overlay-nav="" aria-hidden="true"
     aria-expanded="false" aria-labelledby="trigger-menu-btn" role="region">
    <div class="gutters">
        <div class="overlay-nav__primary">
            <div class="overlay-nav__inner">
                <a href="/personal-banking/" class="u-current-link icon-text overlay-nav__item u-font-brand"
                   data-key="internal link">Personal</a>

                <a href="/business-banking/" class="u-current-link icon-text overlay-nav__item u-font-brand"
                   data-key="internal link">Business</a>

                <a href="/join-kiwibank/" class="u-current-link icon-text overlay-nav__item u-font-brand"
                   data-key="internal link"><span class="u-show--inline@large">Join Kiwibank</span><span
                            class="u-hide--inline@large">Join</span></a>

                <a href="/about-us/" class="u-current-link icon-text overlay-nav__item u-font-brand"
                   data-key="internal link">About us</a>

                <a href="/contact-us/" class="u-current-link icon-text overlay-nav__item u-font-brand"
                   data-key="internal link">Contact us</a>
            </div>
        </div>
        <div class="overlay-nav__secondary">
            <div class="overlay-nav__inner t-overlay-nav">


                <h4>Handy links</h4>


                <a href="/search/" class="u-current-link icon-text overlay-nav__secondary-link"
                   data-key="internal link">
                    <svg class="icon u-current-icon-alt">
                        <title>Search Kiwibank</title>
                        <use xlink:href="#icon-search" aria-hidden="true"></use>
                    </svg>
                    <span class="u-show--inline@large">Search Kiwibank</span><span
                            class="u-hide--inline@large">Search</span></a>


                <a href="/locations/" class="u-current-link icon-text overlay-nav__secondary-link"
                   data-key="internal link">
                    <svg class="icon u-current-icon-alt">
                        <title>Find a branch or ATM</title>
                        <use xlink:href="#icon-marker-small" aria-hidden="true"></use>
                    </svg>
                    Find a branch or ATM</a>


                <a href="https://www.ib.kiwibank.co.nz/login"
                   class="u-current-link icon-text overlay-nav__secondary-link" target="_blank" rel="noopener"
                   data-key="external link">
                    <svg class="icon u-current-icon-alt">
                        <title>Login to internet banking</title>
                        <use xlink:href="#icon-mouse" aria-hidden="true"></use>
                    </svg>
                    Login to internet banking</a>


            </div>
        </div>
    </div>
</div>

<style>
    .collapse__arrow, .full-button__icon {
        pointer-events: none;
    }
</style>

<script>
    window.RANQX_DOWNLOADER_ENDPOINT = '<%= htmlWebpackPlugin.options.api_url %>v1/weblet/downloader';
</script>
<script>
    n=document.createElement("script");
    n.type="text/javascript",
    n.src=window.RANQX_DOWNLOADER_ENDPOINT,
    n.onload=function(){initContainer()};
    document.body.appendChild(n);

    function initContainer() {
        console.log("javascript load");
        console.log(window.LoanOriginationDownloader);

        window.LoanOriginationDownloader&&(window.loanOriginationDownloader=window.LoanOriginationDownloader.init({id:"loan-origination-embed"}))
    }

    function handleRanqxClick(){window.loanOriginationDownloader.show()}
</script>

<div id="inside_holder"
     pagetitle="Business overdraft&nbsp;| Accounts and services | KiwibankLogo-BBfaxEmail_PMS350Mobile_PMS350Play - sharpPlay-smallPhone_PMS350KiwibankSearchInternet banking loginNavigation MenuRates &amp; feesTalk to an expertSign up: Kiwi Business Round UpFind a branchTwitterFacebookWork for usSearch KiwibankFind a branch or ATMLogin to internet banking"
     pageurl="https://www.kiwibank.co.nz/business-banking/accounts-services/overdraft/" device="1" chatsettingsid="3"
     style="transform: translateZ(0px); background-image: none;">
    <div id="inside_tabs" style="top: 937px; right: 0px; display: block;"></div>
</div>
</body>
</html>