<table id="footerLogo" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    max-width: 100% !important;
    width: 100% !important;
">
    <tbody>
        <tr>
            <td style="
                padding: 0 0 0 0;
                width: 80px !important;
                max-width: 80px !important;
            ">
                <img src="cid:kbLogo" alt="Kiwibank Logo" align="left" width="80" height="80" border="0" style="
                    margin: 40px 0 25px 0;
                    width: 80px;
                    float: left;
                " />
            </td>

            <td style="padding: 0 0 0 10px;">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding: 60px 0 0 0;">
                                <span style="
                                    color: #fff !important;
                                    text-align: left !important;
                                    font-size: 14px !important;
                                    font-family: Arial, Helvetica, sans-serif !important;
                                ">
                                    Kiwibank Limited, Private Bag 39888
                                    <br />
                                    Wellington Mail Centre, Lower Hutt 5045
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>