<table id="footerLinks" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
">
    <tbody>
        <tr>
            <td style="
                width: 60% !important;
                max-width: 60% !important;
            ">
                <br />
                <br />

                <table id="footerLinksContainer" cellpadding="0" cellspacing="0">
                    <td style="
                        width: 20px !important;
                        max-width: 20px !important;
                        padding: 0 0 0 10px !important;
                    ">
                        <img src="cid:kbComputer" alt="Computer Icon" width="20px" height="20px" border="0" style="
                            width: 20px !important;
                            height: 20px !important;
                        " />
                    </td>

                    <td style="padding: 0 0 0 10px !important; text-align: left !important;">
                        &nbsp;
                        <a href="https://www.kiwibank.co.nz" style="
                            color: #C4CCA8 !important;
                            font-size: 10px !important;
                            font-family: Arial, Helvetica, sans-serif !important;
                            line-height: 20px !important;
                        "><font color="#C4CCA8">Visit us on the web</font></a>
                        <font color="#C4CCA8">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    </td>

                    <td style="padding: 0 0 0 0 !important;">
                        <a href="https://www.kiwibank.co.nz/personal-banking" style="
                            color: #C4CCA8 !important;
                            font-size: 10px !important;
                            font-family: Arial, Helvetica, sans-serif !important;
                            line-height: 20px !important;
                            text-align: left !important;
                        "><font color="#C4CCA8">Personal</font></a>
                        <font color="#C4CCA8">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    </td>

                    <td style="padding: 0 0 0 0 !important;">
                        <a href="https://www.kiwibank.co.nz/business-banking" style="
                            color: #C4CCA8 !important;
                            font-size: 10px !important;
                            font-family: Arial, Helvetica, sans-serif !important;
                            line-height: 20px !important;
                            text-align: left !important;
                        ">
                            <font color="#C4CCA8">Business</font>
                        </a>
                        <font color="#C4CCA8">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    </td>

                    <td style="padding: 0 0 0 0 !important;">
                        <a href="https://www.kiwibank.co.nz/contact-us" style="
                            color: #C4CCA8 !important;
                            font-size: 10px !important;
                            font-family: Arial, Helvetica, sans-serif !important;
                            line-height: 20px !important;
                            text-align: left !important;
                        "><font color="#C4CCA8">Contact us</font></a>
                    </td>
                </table>
            </td>

            <td style="
                width: 40% !important;
                max-width: 40% !important;
            ">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>