<table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
    background-color: #2F3C40;
    padding: 30px 40px;
">
    <tbody>
        <tr>
            <td>
                {% include "kb/footer/footerContent.html.twig" %}

                {% include "kb/footer/footerLinks.html.twig" %}

                {% include "kb/footer/footerDisclaimer.html.twig" %}
            </td>
        </tr>
    </tbody>
</table>