<table id="footerDisclaimer" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
">
    <tbody>
        <tr>
            <td>
                <br />
                <br />

                <span style="
                    color: #C4CCA8 !important;
                    font-size: 10px !important;
                    font-family: Arial, Helvetica, sans-serif !important;
                ">
                    <font color="#C4CCA8">This email was sent to {{ emailAddress }} by Kiwibank Limited Level 9, 20 Customhouse Quay, Private Bag 39888, Wellington, 5045, NZ.</font>
                </span>
            </td>
        </tr>
    </tbody>
</table>