<table id="footerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
">
    <tbody>
        <tr>
            <td style="
                padding: 0 0 0 0;
            ">
                {% include "kb/footer/footerLogo.html.twig" %}
            </td>

            <td style="
                padding: 0 0 0 0;
            ">
                {% include "kb/footer/footerSocial.html.twig" %}
            </td>
        </tr>
    </tbody>
</table>