<table id="footerSocial" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    max-width: 100% !important;
    width: 100% !important;
">
    <tbody>
        <tr>
            <td style="
                padding: 0 0 0 0;
                width: 16px !important;
                max-width: 16px !important;
            ">
                <img src="cid:kbPoint" alt="Point" align="left" width="16px" height="16px" border="0" style="
                    width: 16px;
                    height: 16px;
                    margin: 0 10px 0 0;
                    float: left;
                " />
            </td>

            <td style="padding: 0 0 0 0;">
                <a href="https://www.kiwibank.co.nz/locations" style="
                    color: #C4CCA8 !important;
                    font-size: 10px !important;
                    font-family: Arial, Helvetica, sans-serif !important;
                    line-height: 16px !important;
                    margin-left: 10px !important;
                "><font color="#C4CCA8">Find a branch</font></a>
            </td>
        </tr>

        <tr>
            <td style="
                padding: 0 0 0 0;
                width: 16px !important;
                max-width: 16px !important;
            ">
                <img src="cid:kbTwitter" alt="Twitter" align="left" width="16px" height="16px" border="0" style="
                    margin: 0 10px 0 0;
                    width: 16px;
                    height: 16px;
                    float: left;
                " />
            </td>

            <td style="padding: 0 0 0 0;">
                <a href="https://twitter.com/KiwibankNZ" style="
                    color: #C4CCA8 !important;
                    font-size: 10px !important;
                    font-family: Arial, Helvetica, sans-serif !important;
                    line-height: 16px !important;
                    margin-left: 10px !important;
                "><font color="#C4CCA8">Twitter</font></a>
            </td>
        </tr>

        <tr>
            <td style="
                padding: 0 0 0 0;
                width: 16px !important;
                max-width: 16px !important;
            ">
                <img src="cid:kbFB" alt="Facebook" align="left" width="16px" height="16px" border="0" style="
                    width: 16px;
                    height: 16px;
                    margin: 0 10px 0 0;
                    float: left;
                " />
            </td>

            <td style="padding: 0 0 0 0;">
                <a href="https://www.facebook.com/KiwibankNZ" style="
                    color: #C4CCA8 !important;
                    font-size: 10px !important;
                    font-family: Arial, Helvetica, sans-serif !important;
                    line-height: 20px !important;
                    margin-left: 10px !important;
                "><font color="#C4CCA8">Facebook</font></a>
            </td>
        </tr>
    </tbody>
</table>