<table id="security" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
    background-color: #D3ECEE;
">
    <tbody>
        <tr>
            <td style="padding: 30px 40px;">
                <!--[if mso]>
                <table border="0" cellpadding="0" cellspacing="0" width="27" align="left" style="width: 27px;"><tr><td style="padding:0 10px 0 0;">
                <![endif]-->
                    <img src="cid:kbShield" alt="Kiwibank Security Shield" align="left" width="27" height="32" border="0" style="
                                    margin:0 10px 0 0;
                                    height: 32px;
                                    width: 27px;
                                " />
                <!--[if mso]>
                </td></tr></table>
                <![endif]-->

                <span style="font-weight: bold; font-size: 18px;"><b>&nbsp;Talking about security</b></span>

                <br />
                <br />

                <span style="font-size: 12px;">
                    To keep you safe online, Kiwibank will never ask you to give account login details or passwords by email. We'll also never have a link to a login page for internet banking, or a link asking for your KeepSafe questions and answers. Check our online security info for more ways to protect yourself online.
                </span>
            </td>
        </tr>
    </tbody>
</table>