<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"><b>Application Number: {{ referenceNumber }}</b></span>

<br />
<br />

<span style="font-size: 20px; font-family: georgia, serif;"><b>Hi {{ firstName }},</b></span>

<br />
<br />

<span style="font-size: 22px; color:#66c930; font-family: Arial,Helvetica,sans-serif;">Great news! Your Kiwibank Business Overdraft has been approved.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Thanks for applying for a Kiwibank Business Overdraft for {{ companyName }}. We’re pleased to let you know that your application has been approved!</span>

<br />
<br />

<span style="font-size: 18px; color:#66c930;">What's next?</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">We’ll be in touch within 1 business day to agree and talk through the steps needed to finalise the terms of your overdraft, give details on what documentation we need from you and how to complete our on-boarding requirements.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">When all these steps have been completed we’ll be able to make the overdraft available to you.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Any questions in the meantime? Just give us a call on <span style="color:#66c930;">0800 601 601</span> anytime between 8am and 6pm, Monday to Friday.</span>
