<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"><b>Application Number: {{ referenceNumber }}</b></span>

<br />
<br />

<span style="font-size: 20px; font-family: georgia, serif;"><b>Hi {{ firstName }},</b></span>

<br />
<br />

<span style="font-size: 22px; color:#66c930; font-family: Arial, Helvetica, sans-serif;">An update on your Kiwibank Business Overdraft application.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Thanks for applying for a Kiwibank Business Overdraft for {{ companyName }}.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">We’ve been reviewing your application and before we finalise our decision, we’ll need to get some more information from you.</span>

<br />
<br />

<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">We’ll be in touch again within 3 business days. However, you’re welcome to get in touch with us in the meantime, by calling <span style="color:#66c930;">0800 601 601</span> anytime between 8am and 6pm, Monday to Friday.</span>
