@import "../../../less/globalStyles.less";
@import "../LoanOrigination/loanForm.less";

.successIcon {
  color: @lightGreen;
}

.validationMessage {
  display: block;
  margin-top: 20px;
}

.validationMessage__container {
  margin: -15px 0 0 0;
}

.validationMessage__warningMessage {
  line-height: 12px;
  font-size: 12px;
  color: @bloodOrange;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.validationMessage__warningIcon {
  color: @bloodOrange;
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

.closeModalIcon {
  background: @lightGreen;
  color: #fff;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  border: 0;
  z-index: 16000010;
}

.closeModalIcon:focus {
  outline: none;
}

.closeModalIcon__container {
  width: 20px;
  height: 10px;
  position: relative;
}

.closeModalIcon__cross {
  position: absolute;
  background: #fff;
  width: 20px;
  height: 2px;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.closeModalIcon__crossForward {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.closeModalIcon__crossBackward {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.uAccessibleText {
  position: absolute!important;
  margin: -1px!important;
  border: 0!important;
  padding: 0!important;
  width: 1px!important;
  height: 1px!important;
  overflow: hidden!important;
  clip: rect(0 0 0 0)!important;
}