<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KiwiBank Loan Application Data</title>

    <style type="text/css">

        body {
            background: #FFFFFF;
        }

        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 10px;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        @media print {
            body, page[size="A4"] {
                margin: 0;
                box-shadow: 0;
            }
        }

        table.greenTable {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            border: 1px solid #000000;
            background-color: #FFFFFF;
            height: 200px;
            text-align: left;
            border-collapse: collapse;
            font-size: 12px;
            font-weight: normal;
            max-width: 1000px;
        }

        /* provide some minimal visual accomodation for IE8 and below */
        table.greenTable tr{
            background: #FFFFFF;
        }
        /*  Define the background color for all the ODD background rows  */
        table.greenTable tr:nth-child(odd){
            background: #FFFFFF;
        }
        /*  Define the background color for all the EVEN background rows  */
        table.greenTable tr:nth-child(even){
            background: #D3D3D3;
        }

        table.greenTable td, table.greenTable th {
            border: 1px solid #000000;
            padding: 7px;
        }
        table.greenTable tbody td {
            font-size: 12px;
            font-weight: normal;
        }
        table.greenTable thead {
            background: #24943A;
            border-bottom: 0px solid #444444;
        }
        table.greenTable thead th {
            font-size: 14px;
            font-weight: bold;
            color: #24943A;
            text-align: left;
            border-left: 1px solid #000000;
        }
        table.greenTable thead th:first-child {
            border-left: none;
        }

        table.greenTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #24943A;
        }
        table.greenTable tfoot td {
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
        }
        table.greenTable tfoot .links {
            text-align: right;
        }
        table.greenTable tfoot .links a{
            display: inline-block;
            background: #FFFFFF;
            color: #24943A;
            padding: 2px 8px;
            border-radius: 5px;
        }

    </style>

</head>
<body>

<h1>KiwiBank TITLE</h1>
<p>Instruction Instruction Instruction Instruction Instruction Instruction Instruction Instruction Instruction </p>

<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="300px">Data Field</th>
        <th width="700px">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Equifax Company Name</td><td>{{ applicationDetails.EquifaxCompanyName}}</td></tr>
    <tr>
        <td>Xero Company Name</td><td>{{ applicationDetails.XeroCompanyName}}</td></tr>
    <tr>
        <td>Applicant Name</td><td>{{ applicationDetails.ApplicantName}}</td></tr>
    <tr>
        <td>Director Names</td>
        <td>
            {% for individual in payloadIndividualDetails %}
                {{ individual.Details.FirstName }} {{ individual.Details.middleNames }} {{ individual.Details.Surname }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr style="color: red;">
        <td>Application ID</td><td>New -- Application Table</td></tr>
    <tr>
        <td>Application Date/Time</td><td>{{ applicationDetails.ApplicationDateTime}}</td></tr>
    <tr>
        <td>Applicant IP Address</td><td>{{ applicationDetails.ApplicantIPAddress}}</td></tr>
    <tr style="color: red;">
        <td>Lending Decision</td><td>{{ applicationDetails.LendingDecision}}</td></tr>
    <tr style="color: red;">
        <td>Decision Email Date/Time</td><td>{{ applicationDetails.DecisionEmailDateTime}}</td></tr>
    <tr>
        <td>Payload Created Date/Time</td><td>{{ applicationDetails.PayloadCreatedDateTime}}</td></tr>
    </tbody>
</table>

<h4>&nbsp;</h4>

<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="150px">Activate Area</th>
        <th width="150px">Entity</th>
        <th width="300px">Activate Field Name</th>
        <th width="400px">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Business Loan Application Type</td><td>{{ businessLoanApplication.Business_Loan_Application_Type }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Customer Type</td><td>{{ businessLoanApplication.Customer_Type }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Facility Type</td><td>{{ businessLoanApplication.Loan_Facility_Type }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Application Purpose</td><td>{{ businessLoanApplication.Loan_Application_Purpose }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Date of Application</td><td>{{ businessLoanApplication.Loan_Date_of_Application }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Previous Lending Institution</td><td>{{ businessLoanApplication.Loan_Previous_Lending_Institution }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Letter of Offer to be accepted by</td><td>{{ businessLoanApplication.Loan_Letter_of_Offer_to_be_accepted_by }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Loan to be Settled by</td><td>{{ businessLoanApplication.Loan_Loan_to_be_Settled_by }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Documents required by</td><td>{{ businessLoanApplication.Loan_Documents_required_by }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Loan Referred by Employee Number</td><td>{{ businessLoanApplication.Loan_Loan_Referred_by_Employee_Number }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Loan Referred by Employee Name</td><td>{{ businessLoanApplication.Loan_Loan_Referred_by_Employee_Name }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Relationship Manager Employee Number</td><td>{{ businessLoanApplication.Loan_Relationship_Manager_Employee_Number }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Relationship Manager Employee Name</td><td>{{ businessLoanApplication.Loan_Relationship_Manager_Employee_Name }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Lead Source</td><td>{{ businessLoanApplication.Loan_Lead_Source }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Broker Name</td><td>{{ businessLoanApplication.Loan_Broker_Name }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Broker Firm</td><td>{{ businessLoanApplication.Loan_Broker_Firm }}</td></tr>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Business Unit</td><td>{{ businessLoanApplication.Loan_Business_Unit }}</td></tr>
    <tr><td>Group Master Client</td><td>Details</td><td>Access Number</td><td>{{ groupMasterClient.Access_Number }}</td></tr>
    <tr><td>Group Master Client</td><td>Details</td><td>Group Master Client Name</td><td>{{ groupMasterClient.Group_Master_Client_Name }}</td></tr>
    <tr><td>Group Master Client</td><td>Details</td><td>Group Type</td><td>{{ groupMasterClient.Group_Type }}</td></tr>

    <!-- Entity Details -->
    <tr><td>Entity</td><td>Details</td><td>Access Number</td><td>{{ entityDetails.AccessNumber }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>Entity Name</td><td>{{ entityDetails.EntityName }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>NZCN</td><td>{{ equifaxDataEntity.EntityDetailsNZCN }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>Customer Type</td><td>{{ entityDetails.CustomerType }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>Scorecard Segment</td><td>{{ entityDetails.ScorecardSegment }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>Requires Security Swap Agreement</td><td>{{ entityDetails.RequiresSecuritySwapAgreement }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>CCR/SCR/IMI</td><td>{{ entityDetails.CCR_SCR_IMI }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>ANZSIC Code</td><td>{{ equifaxDataEntity.EntityDetailsANZSICCode }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>ANZSIC Description</td><td>{{ equifaxDataEntity.EntityDetailsANZSICDescription }}</td></tr>
   <!-- Entity details -->

    <tr><td>Entity</td><td>Registered Address</td><td>Address</td><td>{{ equifaxDataEntity.EntityAddressRegisteredAddress }}</td></tr>
    <tr><td>Entity</td><td>Business Address</td><td>Address</td><td>{{ equifaxDataEntity.EntityAddressBusinessAddress }}</td></tr>
    <tr><td>Entity</td><td>Postal Address</td><td>Address</td><td>{{ equifaxDataEntity.EntityAddressPostalAddress }}</td></tr>
        <tr><td>Entity</td><td>Third Party Address <br>– e.g. accountant</td><td>Address</td><td>{{ equifaxDataEntity.EntityAddressThirdPartyAddress }}</td></tr>
    <!-- Entity Details -->

    <!-- Entity Contact -->
    <tr><td>Entity</td><td>Contact Details</td><td>Daytime phone</td><td>{{ entityContactDetails.DaytimePhone }}</td></tr>
    <tr><td>Entity</td><td>Contact Details</td><td>Fax</td><td>{{ entityContactDetails.Fax }}</td></tr>
    <tr><td>Entity</td><td>Contact Details</td><td>Email</td><td>{{ entityContactDetails.Email }}</td></tr>
    <!-- Entity Contact -->

    <!-- Tax -->
    <tr style="color: red"><td>Entity</td><td>Tax</td><td>IRD Number</td><td>{{ entityTax.IRDNumber }}</td></tr>
    <tr><td>Entity</td><td>Tax</td><td>Tax Rate</td><td>{{ entityTax.TaxRate }}</td></tr>
    <tr><td>Entity</td><td>Tax</td><td>Tax Exemption Certificate Held</td><td>{{ entityTax.TaxExemptionCertificateHeld }}</td></tr>
    <tr><td>Entity</td><td>Tax</td><td>Tax exemption certificate expiry date</td><td>{{ entityTax.Taxexemptioncertificateexpirydate }}</td></tr>
    <tr><td>Entity</td><td>Tax</td><td>Tax exempt cert no</td><td>{{ entityTax.Taxexemptcertno }}</td></tr>
    <tr style="color: red"><td>Entity</td><td>Tax</td><td>GST Number</td><td>{{ entityTax.GSTNumber }}</td></tr>
    <tr><td>Entity</td><td>Tax</td><td>CDD Status</td><td>{{ entityTax.CDDStatus }}</td></tr>
    <!-- Tax -->

    <!-- Credit-->
    <tr><td>Entity</td><td>Credit</td><td>Sector Policy</td><td>{{ entityCredit.SectorPolicy }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Age of business</td><td>{{ equifaxDataEntity.EntityCreditAgeOfBusiness }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Experience in running a business</td><td>{{ entityCredit.Experienceinrunningabusiness }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Time in this type of business</td><td>{{ entityCredit.Timeinthistypeofbusiness }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Length of relationship with Kiwibank</td><td>{{ entityCredit.LengthofrelationshipwithKiwibank }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Age of Bureau File (years)</td><td>{{ equifaxDataEntity.EntityAgeOfBureauFile }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Inquiries in last 2 years</td><td>{{ equifaxDataEntity.EntityInquiriesinlast2years }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Bureau defaults in last 3 years</td><td>{{ equifaxDataEntity.EntityBureaudefaultsinlast3years }}</td></tr>
    <!-- Credit-->


    <!-- Financial Details -->
    <tr><td>Entity</td><td>Financial Details</td><td>New start-up</td><td>{{ entityFinancialDetail.NewStartUp }}</td></tr>
    <tr><td>Entity</td><td>Financial Details</td><td>Data Supplied</td><td>{{ entityFinancialDetail.DataSupplied }}</td></tr>
    <tr><td>Entity</td><td>Financial Details</td><td>Balance Date</td><td>{{ entityFinancialDetail.BalanceDate }}</td></tr>
    <tr><td>Entity</td><td>Financial Details</td><td>Type of financial information supplied</td><td>{{ entityFinancialDetail.typeofFinancialInformationSupplied }}</td></tr>
    <!-- Financial Details -->

    <!-- Debt Servicing -->
    <tr><td>Entity</td><td>Debt Servicing</td><td>BBRH Loans Limit</td><td>{{ entityDebtServicing.BBRHLoansLimit }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>BBRH Loan term</td><td>{{ entityDebtServicing.BBRHLoanterm }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>BBRH Loans Monthly P&I</td><td>{{ entityDebtServicing.BBRHLoansMonthlyPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>BBRH Loans Annual P&I</td><td>{{ entityDebtServicing.BBRHLoansAnnualPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Monthly Interest</td><td>{{ entityDebtServicing.MonthlyInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Accrued Interest</td><td>{{ entityDebtServicing.AccruedInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan Limits</td><td>{{ entityDebtServicing.TermLoanLimits }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan term</td><td>{{ entityDebtServicing.TermLoanterm }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan base rate</td><td>{{ entityDebtServicing.TermLoanbaserate }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan Monthly P&L</td><td>{{ entityDebtServicing.TermLoanMonthlyPandL }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan Annual P&I</td><td>{{ entityDebtServicing.TermLoanAnnualPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan Monthly Interest</td><td>{{ entityDebtServicing.TermLoanMonthlyInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Term Loan Annual Interest</td><td>{{ entityDebtServicing.TermLoanAnnualInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Limits</td><td>{{ entityDebtServicing.ODividedDorRvlgLimits }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Base Rate</td><td>{{ entityDebtServicing.ODividedDorRvlgBaseRate }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Monthly P&I</td><td>{{ entityDebtServicing.ODividedDorRvlgMonthlyPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Annual P&I</td><td>{{ entityDebtServicing.ODividedDorRvlgAnnualPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Monthly Interest</td><td>{{ entityDebtServicing.ODividedDorRvlgMonthlyInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>O/D or Rvlg Annual Interest</td><td>{{ entityDebtServicing.ODividedDorRvlgAnnualInterest }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Credit Card Limits</td><td>{{ entityDebtServicing.CreditCardLimits }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Credit Card Monthly P&I</td><td>{{ entityDebtServicing.CreditCardMonthlyPandI }}</td></tr>
    <tr><td>Entity</td><td>Debt Servicing</td><td>Credit Card Annual P&I</td><td>{{ entityDebtServicing.CreditCardAnnualPandI }}</td></tr>
    <!-- Debt Servicing -->

    <!-- Financial Ratios -->
    <tr><td>Entity</td><td>Financial Ratios</td><td>Tangible Equity % Current</td><td>{{ entityFinancialRatios.TangibleEquityPercentageCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Tangible Equity % Previous</td><td>{{ entityFinancialRatios.TangibleEquityPercentagePrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Debt Cover Ratio</td>{{ entityFinancialRatios.DebtCoverRatio }}<td></td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Interest Cover Ratio</td>{{ entityFinancialRatios.InterestCoverRatio}}<td></td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>EBIT % Current</td><td>{{  entityFinancialRatios.EBITPercentageCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>EBIT % Previous</td><td>{{ entityFinancialRatios.EBITPercentagePrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Current Ratio Current</td><td>{{ entityFinancialRatios.CurrentRatioCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Current Ratio Previous</td><td>{{ entityFinancialRatios.CurrentRationPrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Gross Profit % Current</td><td>{{ entityFinancialRatios.GrossProfitPercentageCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Gross Profit % Previous</td><td>{{ entityFinancialRatios.GrossProfitPercentagePrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>NPBT Current</td><td>{{ entityFinancialRatios.NPBTCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>NBPT Previous</td><td>{{ entityFinancialRatios.NBPTPrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Working Capital Ratio Current</td><td>{{ entityFinancialRatios.WorkingCapitalRatioCurrent }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Working Capital Ratio Previous</td><td>{{ entityFinancialRatios.WorkingCapitalRatioPrevious }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Quasi Equity</td><td>{{ entityFinancialRatios.QuasiEquity }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>Sales / Revenue Growth</td><td>{{ entityFinancialRatios.SalesDiveidedByRevenueGrowth }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>% Change in Gross Margin</td><td>{{ entityFinancialRatios.PercentageChangeinGrossMargin }}</td></tr>
    <tr><td>Entity</td><td>Financial Ratios</td><td>% Change in Current Ratio</td><td>{{ entityFinancialRatios.PercentageChangeinCurrentRatio }}</td></tr>
    <!-- Financial Ratios -->

    <!-- Profit and Loss -->
    <tr><td>Entity</td><td>Profit and Loss</td><td>Sales / Revenue Current</td><td>{{ payloadProfitLoss.SalesRevenueCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Sales / Revenue Previous</td><td>{{ payloadProfitLoss.SalesRevenuePrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>COGS Current </td><td>{{ payloadProfitLoss.COGSCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>COGS Previous</td><td>{{ payloadProfitLoss.COGSPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Gross Profit Current</td><td>{{ payloadProfitLoss.GrossProfitCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Gross Profit Previous</td><td>{{ payloadProfitLoss.GrossProfitPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Gross Margin Current</td><td>{{ payloadProfitLoss.GrossMarginCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Gross Margin Previous</td><td>{{ payloadProfitLoss.GrossMarginPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Income Current</td><td>{{ payloadProfitLoss.OtherIncomeCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Income Previous</td><td>{{ payloadProfitLoss.OtherIncomePrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>EBITDA Current</td><td>{{ payloadProfitLoss.EBITDACurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>EBITDA Previous</td><td>{{ payloadProfitLoss.EBITDAPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>NPBT Current</td><td>{{ payloadProfitLoss.NPBTCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>NPBT Previous</td><td>{{ payloadProfitLoss.NPBTPrevious }}</td></tr>
    <tr style="color: red"><td>Entity</td><td>Profit and Loss</td><td>Company Tax Current</td><td>{{ payloadProfitLoss.CompanyTaxCurrent }}</td></tr>
    <tr style="color: red"><td>Entity</td><td>Profit and Loss</td><td>Company Tax Previous</td><td>{{ payloadProfitLoss.CompanyTaxPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Drawings Current</td><td>{{ payloadProfitLoss.DrawingsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Drawings Previous</td><td>{{ payloadProfitLoss.DrawingsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Cash Available for Distribution</td><td>{{ payloadProfitLoss.CashAvailableforDistribution }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Total Expenses Current</td><td>{{ payloadProfitLoss.TotalExpensesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Total Expenses Previous</td><td>{{ payloadProfitLoss.TotalExpensesPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Interest Current</td><td>{{ payloadProfitLoss.InterestCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Interest Previous</td><td>{{ payloadProfitLoss.InterestPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Wages Current</td><td>{{ payloadProfitLoss.WagesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Wages Previous</td><td>{{ payloadProfitLoss.WagesPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Home Office Current</td><td>{{ payloadProfitLoss.HomeOfficeCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Home Office Previous</td><td>{{ payloadProfitLoss.HomeOfficePrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Shareholder Salary Current</td><td>{{ payloadProfitLoss.ShareholderSalaryCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Shareholder Salary Previous</td><td>{{ payloadProfitLoss.ShareholderSalaryPrevious }}</td></tr>
    <tr style="color: red"><td>Entity</td><td>Profit and Loss</td><td>Depreciation Current</td><td>{{ payloadProfitLoss.DepreciationCurrent }}</td></tr>
    <tr style="color: red"><td>Entity</td><td>Profit and Loss</td><td>Depreciation Previous</td><td>{{ payloadProfitLoss.DepreciationPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Amortisation Current</td><td>{{ payloadProfitLoss.AmortisationCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Amortisation Previous</td><td>{{ payloadProfitLoss.AmortisationPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Add back Current</td><td>{{ payloadProfitLoss.OtherAddbackCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Add back Previous</td><td>{{ payloadProfitLoss.OtherAddbackPrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Expenses Current</td><td>{{ payloadProfitLoss.OtherExpensesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Other Expense Previous</td><td>{{ payloadProfitLoss.OtherExpensePrevious }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Business Servicing Commitments P&I</td><td>{{ payloadProfitLoss.BusinessServicingCommitmentsPI }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Business Servicing Commitment IO</td><td>{{ payloadProfitLoss.BusinessServicingCommitmentIO }}</td></tr>
    <!-- Profit and Loss -->

    <!-- Balance Sheet -->
    <tr><td>Entity</td><td>Balance Sheet</td><td>Stock Current</td><td>{{ paylaodBalaceSheet.StockCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Stock Previous</td><td>{{ paylaodBalaceSheet.StockPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Debtors Current</td><td>{{ paylaodBalaceSheet.DebtorsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Debtors Previous</td><td>{{ paylaodBalaceSheet.DebtorsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Current Accounts Current</td><td>{{ paylaodBalaceSheet.CurrentAccountsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Current Accounts Previous</td><td>{{ paylaodBalaceSheet.CurrentAccountsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Assets Current</td><td>{{ paylaodBalaceSheet.OtherCurrentAssetsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Assets Previous</td><td>{{ paylaodBalaceSheet.OtherCurrentAssetsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Fixed Assets Current</td><td>{{ paylaodBalaceSheet.FixedAssetsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Fixed Assets Previous</td><td>{{ paylaodBalaceSheet.FixedAssetsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Assets Current</td><td>{{ paylaodBalaceSheet.TotalAssetsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Assets Previous</td><td>{{ paylaodBalaceSheet.TotalAssetsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Intangible Assets Current</td><td>{{ paylaodBalaceSheet.IntangibleAssetsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Intangible Assets Previous</td><td>{{ paylaodBalaceSheet.IntangibleAssetsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Working Capital Current</td><td>{{ paylaodBalaceSheet.WorkingCapitalCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Working Capital Previous</td><td>{{ paylaodBalaceSheet.WorkingCapitalPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Tangible Equity Current</td><td>{{ paylaodBalaceSheet.TangibleEquityCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Tangible Equity Previous</td><td>{{ paylaodBalaceSheet.TangibleEquityPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Quasi Equity Current</td><td>{{ paylaodBalaceSheet.QuasiEquityCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Quasi Equity Previous</td><td>{{ paylaodBalaceSheet.QuasiEquityPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Creditors Current</td><td>{{ paylaodBalaceSheet.CreditorsCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Creditors Previous</td><td>{{ paylaodBalaceSheet.CreditorsPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Overdraft Current</td><td>{{ paylaodBalaceSheet.OverdraftCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Overdraft Previous</td><td>{{ paylaodBalaceSheet.OverdraftPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Liabilities Current</td><td>{{ paylaodBalaceSheet.OtherCurrentLiabilitiesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Liabilities Previous</td><td>{{ paylaodBalaceSheet.OtherCurrentLiabilitiesPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Current Liabilities Current</td><td>{{ paylaodBalaceSheet.TotalCurrentLiabilitiesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Current Liabilities Previous</td><td>{{ paylaodBalaceSheet.TotalCurrentLiabilitiesPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Term loans Current</td><td>{{ paylaodBalaceSheet.TermloansCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Term Loans Previous</td><td>{{ paylaodBalaceSheet.TermLoansPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Shareholder Loans Current</td><td>{{ paylaodBalaceSheet.ShareholderLoansCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Shareholder loans Previous</td><td>{{ paylaodBalaceSheet.ShareholderloansPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Non-Current Liabilities Current</td><td>{{ paylaodBalaceSheet.OtherNonCurrentLiabilitiesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Non-Current Liabilities Previous</td><td>{{ paylaodBalaceSheet.OtherNonCurrentLiabilitiesPrevious }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Liabilities Current</td><td>{{ paylaodBalaceSheet.TotalLiabilitiesCurrent }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Total Liabilities Previous</td><td>{{ paylaodBalaceSheet.TotalLiabilitiesPrevious }}</td></tr>
    <!-- Balance Sheet -->

    <!-- Drawings -->
    <tr><td>Entity</td><td>Drawings</td><td>Drawings</td><td>{{ entityDrawings.Drawings }}</td></tr>
    <tr><td>Entity</td><td>Drawings</td><td>Cash Available for Distribution</td><td>{{ entityDrawings.CashAvailableforDistribution }}</td></tr>
    <!-- Drawings -->

    </tbody>
</table>

{% for individual in payloadIndividualDetails %}

        <h4>Director: {{ individual.Details.FirstName }} {{ individual.Details.middleNames }} {{ individual.Details.Surname }}</h4>

        <table class="greenTable" cellpadding="10px" cellspacing="10px">
        <thead>
        <tr>
        <th width="150px">Activate Area</th>
        <th width="150px">Entity</th>
        <th width="300px">Activate Field Name</th>
        <th width="400px">Value</th>
        </tr>
        </thead>

        <tbody>
        <tr><td>Individuals</td><td>Details</td><td>Access Number</td><td>{{ individual.Details.AccessNumber }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Title</td><td>{{ individual.Details.Title }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>First Name (s)</td><td>{{ individual.Details.FirstName }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Middle Name (s)</td><td>{{ individual.Details.middleNames }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Surname</td><td>{{ individual.Details.Surname }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>CCR</td><td>{{ individual.Details.CCR }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Requires Security Swap Agreement</td><td>{{ individual.Details.RequiresSecuritySwapAgreement }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>CCR / SCR / IMI</td><td>{{ individual.Details.CCRSCRIMI }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Work Ph</td><td>{{ individual.Details.WorkPh }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Home Ph</td><td>{{ individual.Details.HomePh }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Mobile Ph</td><td>{{ individual.Details.MobilePh }}</td></tr>

        <tr><td>Individuals</td><td>Home Address</td><td>Address Field1</td><td>{{ individual.HomeAddress.Address1 }}</td></tr>
        <tr><td>Individuals</td><td>Home Address</td><td>Address Field2</td><td>{{ individual.HomeAddress.Address2 }}</td></tr>
        <tr><td>Individuals</td><td>Home Address</td><td>Address Field3</td><td>{{ individual.HomeAddress.Address3 }}</td></tr>
        <tr><td>Individuals</td><td>Home Address</td><td>Address Field4</td><td>{{ individual.HomeAddress.Address4 }}</td></tr>

        <tr><td>Individuals</td><td>Home Address</td><td>Time at Address years</td><td>{{ individual.HomeAddress.TimeatAddressyears }}</td></tr>
        <tr><td>Individuals</td><td>Home Address</td><td>Time at Address months</td><td>{{ individual.HomeAddress.TimeatAddressmonths }}</td></tr>

        <tr><td>Individuals</td><td>Postal Address</td><td>Address Field1</td><td>{{ individual.PostalAddress.Address1 }}</td></tr>
        <tr><td>Individuals</td><td>Postal Address</td><td>Address Field2</td><td>{{ individual.PostalAddress.Address2 }}</td></tr>
        <tr><td>Individuals</td><td>Postal Address</td><td>Address Field3</td><td>{{ individual.PostalAddress.Address3 }}</td></tr>
        <tr><td>Individuals</td><td>Postal Address</td><td>Post Code</td><td>{{ individual.PostalAddress.Address4 }}</td></tr>

        <tr><td>Individuals</td><td>Residency</td><td>NZ Residency</td><td>{{ individual.Residency.NZResidency }}</td></tr>
        <tr><td>Individuals</td><td>Residency</td><td>Household Status</td><td>{{ individual.Residency.HouseholdStatus }}</td></tr>
        <tr><td>Individuals</td><td>Residency</td><td>Number of Dependants</td><td>{{ individual.Residency.NumberofDependants }}</td></tr>

        <tr><td>Individuals</td><td>Details</td><td>Date of Birth</td><td>{{ individual.Details.DateofBirth }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Gender</td><td>{{ individual.Details.Gender }}</td></tr>

        <tr><td>Individuals</td><td>Employment</td><td>Occupation</td><td>{{ individual.Employment.Occupation }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>ANZSCO Code</td><td>{{ individual.Employment.ANZSCOCode }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Employment Type</td><td>{{ individual.Employment.EmploymentType }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Employer</td><td>{{ individual.Employment.Employer }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Time at Current Years</td><td>{{ individual.Employment.TimeatCurrentYears }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Time at Current Months</td><td>{{ individual.Employment.TimeatCurrentMonths }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Prev Employer</td><td>{{ individual.Employment.Employer }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Time at Previous Years</td><td>{{ individual.Employment.PrevEmployer }}</td></tr>
        <tr><td>Individuals</td><td>Employment</td><td>Time at Previous Months</td><td>{{ individual.Employment.TimeatPreviousMonths }}</td></tr>

        <tr><td>Individuals</td><td>Details</td><td>IRD Number</td><td>{{ individual.Details.IRDNumber }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Tax Rate</td><td>{{ individual.Details.TaxRate }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>CDD Status</td><td>{{ individual.Details.CDDStatus }}</td></tr>

        </tbody>
        </table>

        <h4>&nbsp;</h4>
{% endfor %}


<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="150px">Activate Area</th>
        <th width="150px">Entity</th>
        <th width="300px">Activate Field Name</th>
        <th width="400px">Value</th>
    </tr>
    </thead>


    <!-- Entity Crdit -->
    <tr><td>Entity</td><td>Credit</td><td>Number of Dishonours in last 6 months</td><td>{{ entityCredit.NumberOfDishonoursInLastSixMonths }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Character – Stability (time in business)</td><td>{{ entityCredit.CharacterStabilityTimeInBusiness }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Capacity – Debt servicing ability - IO</td><td>{{ entityCredit.CapacityDebtServicingAbilityIO }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Capacity – Debt servicing ability – P&I</td><td>{{ entityCredit.CapacityDebtServicingAbilityPandI }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Capacity – Group Financial Position - Equity</td><td>{{ entityCredit.CapacityGroupFinancialPositionEquity }}</td></tr>
    <!-- Entity Crdit -->

    <!-- business Loan application -->
    <tr><td>Business Loan Application</td><td>Decision</td><td>Purpose Summary</td><td>{{ groupMasterClientDetailsPayLoadDecisionDetails.Purpose_Summary }}</td></tr>
    <tr><td>Business Loan Application</td><td>Decision</td><td>Recommendations Summary</td><td>{{ groupMasterClientDetailsPayLoadDecisionDetails.Recommendations_Summary }}</td></tr>
    <!-- business Loan application -->

    </tbody>

</table>

<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

</body>
</html>