<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KiwiBank Loan Application Data</title>

    <style type="text/css">

        body {
            background: #FFFFFF;
        }

        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 10px;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        @media print {
            body, page[size="A4"] {
                margin: 0;
                box-shadow: 0;
            }
        }

        table.greenTable {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            border: 1px solid #000000;
            background-color: #FFFFFF;
            text-align: left;
            border-collapse: collapse;
            font-size: 12px;
            font-weight: normal;
            max-width: 1000px;
        }

        /* provide some minimal visual accomodation for IE8 and below */
        table.greenTable tr{
            background: #FFFFFF;
        }
        /*  Define the background color for all the ODD background rows  */
        table.greenTable tr:nth-child(odd){
            background: #FFFFFF;
        }
        /*  Define the background color for all the EVEN background rows  */
        table.greenTable tr:nth-child(even){
            background: #D3D3D3;
        }

        table.greenTable td, table.greenTable th {
            border: 1px solid #000000;
            padding: 7px;
        }
        table.greenTable tbody td {
            font-size: 12px;
            font-weight: normal;
        }
        table.greenTable thead {
            background: #24943A;
            border-bottom: 0px solid #444444;
        }
        table.greenTable thead th {
            font-size: 14px;
            font-weight: bold;
            color: #24943A;
            text-align: left;
            border-left: 1px solid #000000;
        }
        table.greenTable thead th:first-child {
            border-left: none;
        }

        table.greenTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #24943A;
        }
        table.greenTable tfoot td {
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
        }
        table.greenTable tfoot .links {
            text-align: right;
        }
        table.greenTable tfoot .links a{
            display: inline-block;
            background: #FFFFFF;
            color: #24943A;
            padding: 2px 8px;
            border-radius: 5px;
        }

    </style>

</head>
<body>
<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="300px">Data Field</th>
        <th width="700px">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Equifax Company Name</td><td>{{ applicationDetails.EquifaxCompanyName}}</td></tr>
    <tr>
        <td>Xero Company Name</td><td>{{ applicationDetails.XeroCompanyName}}</td></tr>
    <tr>
        <td>Xero Line Of Business</td><td>{{ applicationDetails.LineOfBusiness}}</td></tr>
    <tr>
        <td>Applicant Name</td><td>{{ applicationDetails.ApplicantName}}</td></tr>
    <tr>
        <td>Director Names</td>
        <td>
            {% for individual in applicationDetails.Individuals %}
                {{ individual }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Application ID</td><td>{{ applicationDetails.ApplicationID}}</td></tr>
    <tr>
        <td>Application Date/Time</td><td>{{ applicationDetails.ApplicationDateTime}}</td></tr>
    <tr>
        <td>Applicant IP Address</td><td>{{ applicationDetails.ApplicantIPAddress}}</td></tr>
    <tr>
        <td>Lending Decision</td><td>{{ finalDecision }}</td></tr>
    <tr>
        <td>Decision Email Date/Time</td><td>{{ applicationDetails.DecisionEmailDateTime}}</td></tr>
    <tr>
        <td>Payload Created Date/Time</td><td>{{ applicationDetails.PayloadCreatedDateTime}}</td></tr>
    <tr>
    <td>Loan Amount</td><td>{{ applicationDetails.LoanAmount}}</td></tr>
    <tr>
        <td>Standard Bureau Score</td><td>{{ applicationDetails.standardScore }}</td></tr>
    <tr>
        <td>Advanced Bureau Score</td><td>{{ applicationDetails.advancedScore }}</td></tr>
    </tbody>
</table>

<h4>&nbsp;</h4>

<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="166px">Rule Code</th>
        <th width="166px">Triggered</th>
        <th width="166px">Policy Rule</th>
        <th width="166px">Assessment Area</th>
        <th width="166px">Rule Value</th>
        <th width="166px">Rule Type</th>
    </tr>
    </thead>
    <tbody>
    {% for rule in rules %}
        <tr>
            <td>{{  rule.RuleCode }}</td>
            <td>{{  rule.Triggered }}</td>
            <td>{{  rule.PolicyRule }}</td>
            <td>{{  rule.AssementArea }}</td>
            <td>{{  rule.RuleValue }}</td>
            <td>{{  rule.RuleType }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>&nbsp;</h4>

<table class="greenTable" cellpadding="10px" cellspacing="10px">
    <thead>
    <tr>
        <th width="150px">Activate Area</th>
        <th width="150px">Entity</th>
        <th width="300px">Activate Field Name</th>
        <th width="400px">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr><td>Business Loan Application</td><td>Loan</td><td>Date of Application</td><td>{{ fields.created }}</td></tr>

    <!-- Entity Details -->
    <tr><td>Entity</td><td>Details</td><td>Entity Name</td><td>{{ fields.businessName }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>NZCN</td><td>{{ fields.nzcn }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>ANZSIC Code</td><td>{{ fields.ANZSIC }}</td></tr>
    <tr><td>Entity</td><td>Details</td><td>ANZSIC Description</td><td>{{ fields.anzSICDesc }}</td></tr>
    <!-- Entity details -->

    <tr><td>Entity</td><td>Registered Address</td><td>Address</td><td>{{ fields.registedAddress }}</td></tr>
    <tr><td>Entity</td><td>Business Address</td><td>Address</td><td>{{ fields.businessAddress }}</td></tr>
    <tr><td>Entity</td><td>Postal Address</td><td>Address</td><td>{{ fields.postalAddress }}</td></tr>
    <!-- Entity Details -->

    <!-- Entity Contact -->
    <tr><td>Entity</td><td>Contact Details</td><td>Daytime phone</td><td>{{ fields.phone }}</td></tr>
    <tr><td>Entity</td><td>Contact Details</td><td>Email</td><td>{{ fields.email }}</td></tr>
    <!-- Entity Contact -->

    <!-- Tax -->
    <tr><td>Entity</td><td>Tax</td><td>IRD Number</td><td>{{ fields.taxNumber }}</td></tr>
    <!-- Tax -->

    <!-- Credit-->

    <tr><td>Entity</td><td>Credit</td><td>Age of business</td><td>{{ fields.ageOfBusiness }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Age of Bureau File (years)</td><td>{{ fields.ageOfBureauFile }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Inquiries in last 2 years</td><td>{{ fields.enqueryInLast2years }}</td></tr>
    <tr><td>Entity</td><td>Credit</td><td>Bureau defaults in last 3 years</td><td>{{ fields.bureauDefaultsInLast3Years }}</td></tr>
    <!-- Credit-->


    <!-- Financial Details -->
    <tr><td>Entity</td><td>Financial Details</td><td>Balance Date</td><td>{{ fields.financeMonthPeriod }}</td></tr>
    <!-- Financial Details -->

    <!-- Profit and Loss -->
    <tr><td>Entity</td><td>Profit and Loss</td><td>Sales / Revenue Current</td><td>{{ fields.financeMonthTotalRevenue.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Sales / Revenue Previous</td><td>{{ fields.financeMonthTotalRevenue.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>COGS Current </td><td>{{ fields.financeMonthCOG.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>COGS Previous</td><td>{{ fields.financeMonthCOG.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Company Tax Current</td><td>{{ fields.financeMonthTax.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Company Tax Previous</td><td>{{ fields.financeMonthTax.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Total Expenses Current</td><td>{{ fields.financeMonthOperatingCosts.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Total Expenses Previous</td><td>{{ fields.financeMonthOperatingCosts.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Interest Current</td><td>{{ fields.financeMonthInterest.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Interest Previous</td><td>{{ fields.financeMonthInterest.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Wages Current</td><td>{{ fields.financeMonthWage.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Wages Previous</td><td>{{ fields.financeMonthWage.previous }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Depreciation Current</td><td>{{ fields.financeMonthDepreciation.current }}</td></tr>
    <tr><td>Entity</td><td>Profit and Loss</td><td>Depreciation Previous</td><td>{{ fields.financeMonthDepreciation.previous }}</td></tr>
    <!-- Profit and Loss -->

    <!-- Balance Sheet -->
    <tr><td>Entity</td><td>Balance Sheet</td><td>Stock Current</td><td>{{ fields.financeMonthStock.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Stock Previous</td><td>{{ fields.financeMonthStock.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Debtors Current</td><td>{{ fields.financeMonthDebtor.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Debtors Previous</td><td>{{ fields.financeMonthDebtor.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Current Accounts Current</td><td>{{ fields.financeMonthBank.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Current Accounts Previous</td><td>{{ fields.financeMonthBank.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Assets Current</td><td>{{ fields.financeMonthOther.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Assets Previous</td><td>{{ fields.financeMonthOther.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Fixed Assets Current</td><td>{{ fields.financeMonthAssetsFixed.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Fixed Assets Previous</td><td>{{ fields.financeMonthAssetsFixed.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Intangible Assets Current</td><td>{{ fields.financeMonthIntangibleAssets.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Intangible Assets Previous</td><td>{{ fields.financeMonthIntangibleAssets.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Creditors Current</td><td>{{ fields.financeMonthCreditors.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Creditors Previous</td><td>{{ fields.financeMonthCreditors.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Liabilities Current</td><td>{{ fields.financeMonthOtherCurrentLiabilities.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Current Liabilities Previous</td><td>{{ fields.financeMonthOtherCurrentLiabilities.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Non-Current Liabilities Current</td><td>{{ fields.financeMonthNonCurrentLiabilities.current }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Other Non-Current Liabilities Previous</td><td>{{ fields.financeMonthNonCurrentLiabilities.previous }}</td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Shareholder Loans/CA</td><td></td></tr>
    <tr><td>Entity</td><td>Balance Sheet</td><td>Term Loans</td><td></td></tr>
    <!-- Balance Sheet -->

    </tbody>
</table>

<h4>&nbsp;</h4>

{% for individual in fields.individuals %}

    <h4>Director: {{ individual.name }}</h4>

    <table class="greenTable" cellpadding="10px" cellspacing="10px">
        <thead>
        <tr>
            <th width="150px">Activate Area</th>
            <th width="150px">Entity</th>
            <th width="300px">Activate Field Name</th>
            <th width="400px">Value</th>
        </tr>
        </thead>

        <tbody>
        <tr><td>Individuals</td><td>Details</td><td>Name</td><td>{{ individual.name }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Appointment Date</td><td>{{ individual.appointmentDate }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Mobile Ph</td><td>{{ fields.phone }}</td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Residential Address</td><td></td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Date Of Birth</td><td></td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Director Bureau Score</td><td></td></tr>
        <tr><td>Individuals</td><td>Details</td><td>Personal Insolvencies</td><td></td></tr>
        </tbody>
    </table>

    <h4>&nbsp;</h4>
{% endfor %}

</body>
</html>