{% extends "kb/head.html.twig" %}
{% block html %}
    <body
            aria-readonly="false"
            style="
                width:100% !important;
                max-width: 100% !important;
                height:100% !important;
                max-height: 100% !important;
                background-color: #ffffff;
          "
            bgcolor="#ffffff"
    >
        <div class="preheader" style="color: #fff; font-size: 0; display: none !important;">There is an update on your application.</div>
        <table id="innerBody" border="0" cellpadding="0" cellspacing="0" width="100%" style="
            background-color: #ffffff;
            width: 100% !important;
            max-width: 100% !important;
         ">
            <tbody>
                <tr bgcolor="#fffff">
                    <td>
                        <center bgcolor="#fffff" style="background-color: #ffffff;">
                            <table id="innerBodyContainer" align="center" border="0" cellpadding="0" cellspacing="0"
                                   style="
                                        background-color: #EFEEEF;
                                        width: 690px !important;
                                        max-width: 690px !important;
                                        margin: 0 auto;
                                        padding: 0;
                                    "
                                   width="690">
                                <tbody>
                                    <tr>
                                        <td>
                                            {% include "kb/header.html.twig" %}

                                            {% block body %}{% endblock %}

                                            {% include "kb/signatures/standard.html.twig" %}

                                            {% include "kb/security/security.html.twig" %}

                                            {% include "kb/footer/footer.html.twig" %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
{% endblock %}