{% extends "kb/body.html.twig" %}

{% block body %}
    <table id="forApplicantDecision" border="0" cellpadding="0" cellspacing="0" width="100%" style="
        width: 100% !important;
        max-width: 100% !important;
    ">
        <tbody>
            <tr>
                <td style="padding: 30px 40px;">
                    {% if decision == 'APPROVE' %}
                        {% include "kb/decision/approved.html.twig" %}
                    {% else %}
                        {% include "kb/decision/declined.html.twig" %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}