{% extends "kb/body.html.twig" %}

{% block body %}
    <table id="forApplicant" border="0" cellpadding="0" cellspacing="0" width="100%" style="
        width: 100% !important;
        max-width: 100% !important;
    ">
        <tbody>
            <tr>
                <td style="padding: 30px 40px;">
                    <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"><b>Application Number: {{ referenceNumber }}</b></span>

                    <br />
                    <br />

                    <span style="font-size: 20px; font-family: georgia, serif;"><b>Hi {{ firstName }},</b></span>

                    <br />
                    <br />

                    <span style="font-size: 22px; color:#66c930; font-family: Arial, Helvetica, sans-serif;">Your Kiwibank Business Overdraft application</span>

                    <br />
                    <br />

                    <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Thanks for applying for a Kiwibank Business Overdraft for  {{ companyName }}.</span>

                    <br />
                    <br />

                    <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">We just wanted to let you know that we’ve received the information you submitted. We’ll now check your company’s financial information in Xero and review its credit history using other sources.</span>

                    <br />
                    <br />

                    <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">We’ll be in touch within an hour with an update.</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
