<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="format-detection" content="telephone=no">
    <title>Kiwibank Loan Application</title>
    <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG></o:AllowPNG><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]--><!--[if mso]>
    <style>
        [class~="full-width"]{width:95%; float:none; min-width:95%; margin:0 auto; max-width:95%;}
        [class~="full-block"]{display:block;}
        [class~="image-full-width"],[class~="image-full-width"] img{width:100%; height:auto; min-width:100%;}
    </style>
    <![endif]--><!--[if gte mso 15]>
    <style type="text/css">
        body { font-size: 0; line-height: 0; }
        a:visited { #D8BFD8; }
        a:hover { color: #D8BFD8; }
        tr { font-size:1px; mso-line-height-alt:0; mso-margin-top-alt:1px; }
        table { font-size:1px; line-height:0; mso-margin-top-alt:1px; }
        body,table,td,span,a,font{font-family: Arial, Helvetica, sans-serif !important;}
        a img{ border: 0 !important;}
    </style>
    <![endif]-->
    <style type="text/css">.ReadMsgBody { width: 100%; background-color: #383838;}
        .ExternalClass {width: 100%; background-color: #383838;}
        .ExternalClass, .ExternalClass p, .ExternalClass span,
        .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        #outlook a{ padding:0;}
        html{width:100%;}
        body{width: 100%; height: 100%; background-color: #383838; margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
        table {mso-table-lspace:0pt; mso-table-rspace:0pt; border-spacing:0 !important;}
        table td {border-collapse:collapse;}
        table p{margin:0;}
        br, strong br, b br, em br, i br { line-height:100%; }
        div, p, a, li, td { -webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
        h1 {font-size: 16px;}
        h2 {font-size: 15px;}
        h3 {font-size: 14px;}
        h4 {font-size: 10px;}
        img{height: auto !important; line-height: 100%; outline: none; text-decoration: none !important;  -ms-interpolation-mode:bicubic; }
        .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited,
        .yshortcuts a:hover, .yshortcuts a span { text-decoration: none !important; border-bottom: none !important;}
        ul{padding-left:10px; margin:0;}
        .tpl-repeatblock {
            padding: 0px !important;
            border: 1px dotted rgba(0,0,0,0.2);
        }
        .tpl-content{
            padding:0px !important;
        }

        @media only screen and (max-width:640px){
            .full-width{width:90%!important; float:none!important; min-width:90%!important; margin:0 auto!important; max-width:90%!important; }
            body > .full-width{width:100%!important; float:none!important; min-width:100%!important; margin:0 auto!important; max-width:100%!important; }
            .full-block{display:block!important;}
            .image-full-width,
            .image-full-width img{width:100%!important; height:auto!important; max-width:100%!important;}
            .full-width.fix-800{min-width:auto!important;}
        }
        @media only screen and (max-width:480px){
            .full-width{width:90%!important; float:none!important; min-width:90%!important; margin:0 auto!important; max-width:90%!important;}
            body > .full-width{width:100%!important; float:none!important; min-width:100%!important; margin:0 auto!important; max-width:100%!important;}
            .full-block{display:block!important;}
            .image-full-width,
            .image-full-width img{width:100%!important; height:auto!important; max-width:100%!important;}
            .full-width.fix-800{min-width:auto!important;}
            .image-100-percent{ width:100%!important; height: auto !important; max-width: 100% !important; min-width: 124px !important;}
        }

        td ul{list-style: initial; margin:0; padding-left:20px;}
        body{background-color:#383838;}
        tr.tpl-repeatblock , tr.tpl-repeatblock > td{ display:block !important;}
        .tpl-repeatblock {padding: 0px !important;border: 1px dotted rgba(0,0,0,0.2);}
        a img{ border: 0 !important;}
        a:active{color:#383838 } a:visited{color:#383838 }
        span a{color:inherit !important; }
    </style>
</head>
<body aria-readonly="false" style="font-size:10px; width:100%; height:100%; background-color: #383838;">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" id="mainStructure" style="background-color: #383838; max-width: 800px; margin: 0px auto;" width="800"><!-- START LAYOUT-1 (  VIEW ONLINE )-->
    <tbody>
    <!-- END LAYOUT-1 ( MOBILE NUMBER / VIEW ONLINE )--><!--START LAYOUT-28 ( full width header logo  )-->
    <tr>
        <td align="center" bgcolor="#383838" style="background-color: #383838;" valign="top"><!-- start container -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #383838;max-width: 600px; margin: 0px auto;" width="600">
                <tbody>
                <tr>
                    <td valign="top">
                        <table align="center" bgcolor="#71c41a" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color:#71c41a;max-width: 600px; margin: 0px auto;" width="600"><!-- start space -->
                <tbody>
                <tr>
                    <td valign="top">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="auto">
                                        <tbody>
                                        <tr>
                                            <td align=left class="image-full-width" style="width: 600px;" valign="top" width="600"><img src="https://media.kiwibank.co.nz/static/images/kiwibank-og-default-image.png" width="80" height="80" style="width: 100%; max-width: 80px !important; height: 80px !important; max-height: 80px !important;"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
<!--END LAYOUT-28 ( full width header logo  )--><!-- START LAYOUT-1 ( VIEW ONLINE )-->
<tr>
    <td align="center" bgcolor="#383838" style="background-color:#383838;" valign="top">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #383838;max-width: 600px; margin: 0px auto;" width="600">
            <tbody>
            <tr>
                <td align="center" valign="top">
                    <table align="center" bgcolor="#383838" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color:#383838; max-width: 600px; margin: 0px auto;" width="600">
                        <tbody>
                        <tr>
                            <td class="full-block" dup="0" style="padding-left: 10px;" valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="auto">
                                    <tbody><!-- start space -->
                                    <tr>
                                        <td height="15" style="height: 15px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                    </tr>
                                    <!-- end space -->
                                    <tr>
                                        <td align="left" style="font-size: 12px; color: #ffffff; font-weight: bold; font-family:Arial, Helvetica, sans-serif; word-break: break-word; line-height: 23px; text-align:left; font-weight:normal">Kiwibank Loan Application</td>
                                    </tr>
                                    <tr>
                                        <td height="15" style="height: 15px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                    </tr>
                                    <!-- end space -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--END LAYOUT-28 ( full width header image  )--><!--START LAYOUT-7 ( ICON IMAGE LEFT / CONTENT RIGHT ) -->
<tr>
    <td align="center" bgcolor="#383838" style="background-color: #383838;" valign="top"><!-- start container -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #383838;max-width: 600px; margin: 0px auto;" width="600">
            <tbody>
            <tr dup="0">
                <td valign="top">
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #ffffff; max-width: 600px; margin: 0px auto;" width="600"><!-- start space -->
                        <tbody>
                        <tr>
                            <td height="40" style="height: 50px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                        </tr>
                        <!-- end space --><!-- start row 1 -->
                        <tr dup="0">
                            <td valign="top">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="100%">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt; mso-table-rspace:0pt;" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="auto">
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt; mso-table-rspace:0pt;" width="auto">
                                                        </table>
                                                    </td>
                                                    <td valign="top" width="100%">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="100%"><!-- start title -->
                                                            <tbody>
                                                            <tr dup="0">
                                                                <td style="padding:10px;" valign="top">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="left" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; word-break: break-word; line-height: 14px;">
                                                                                <div style="text-align: left; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
                                                                                    <p><b>Applicant Name:</b> {{ org.applicant.firstName }} {{ org.applicant.lastName }}</p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; word-break: break-word; line-height: 14px;">
                                                                                <div style="text-align: left; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
                                                                                    <p><b>Applicant Business:</b> {{ org.applicant.businessName }} </p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; word-break: break-word; line-height: 14px;">
                                                                                <div style="text-align: left; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
                                                                                    <p><b>Applicant Loan:</b> {{ org.applicant.loanAmount }}</p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; word-break: break-word; line-height: 14px;">
                                                                                <div style="text-align: left; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
                                                                                    <p><b>Decision:</b> {{ answer.answer }} </p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- start space -->
                                                                        <table>
                                                                            </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        </td>
                                                                        </tr>
                                                                        <!-- start space -->
                                                                        <tr>
                                                                            <td height="30" style="height: 60px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                                                        </tr>
                                                                        <!-- end space -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#383838" style="background-color: #383838;" valign="top"><!-- start container -->
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #383838; max-width: 600px; margin: 0px auto;" width="600">
                                                <tbody>
                                                <tr>
                                                    <td bgcolor="#383838" style="background-color:#383838;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="max-width: 560px; margin: 0px auto;" width="560">
                                                            <tbody>
                                                            <tr>
                                                                <td height="30" style="height: 30px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top">
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="auto">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td valign="middle">
                                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto;" width="auto">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" style="padding: 15px;" valign="middle"><a href="https://www.kiwibank.co.nz/business-banking/" rel="link" target="_blank"><img src="https://media.kiwibank.co.nz/static/images/kiwibank-og-default-image.png" width="80" height="80" style="width: 100%; max-width: 80px !important; height: 80px !important; max-height: 80px !important;" /></a></td>
                                                                                                </tr>
                                                                                                <!-- start space -->
                                                                                                <tr>
                                                                                                    <td height="2" style="height: 2px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                                                                                </tr>
                                                                                                <!-- end space -->
                                                                                                <tr>
                                                                                                    <td align="center" style="font-size: 10px; color: #ffffff; font-weight: normal; font-family:Arial, Helvetica, sans-serif; word-break: break-word; line-height: 18px;"><span style="text-decoration: none !important; color: #ffffff; line-height: 18px; font-size: 10px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
                                                                        Private Bag 39888<br>
                                                                        Wellington Mail Centre<br>
                                                                        Lower Hutt 5045<br>
                                                                        +64 9 123 4567
                                                                        </span><br />
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- end container --></td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#383838" style="background-color:#383838;" valign="top"><!-- start container -->
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="background-color: #383838; max-width: 600px; margin: 0px auto;" width="600">
                                                <tbody>
                                                <tr>
                                                    <td align="center" bgcolor="#383838" style="background-color:#383838;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="max-width: 560px; margin: 0px auto;" width="560"><!-- start space -->
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top: 30px; margin-bottom: 30px; " width="auto">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" style="font-size: 10px; color: #525252; font-weight: normal; font-family:Arial, Helvetica, sans-serif; word-break: break-word; line-height: 23px;">© 2018 Kiwibank Limited</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- start space -->
                                                            <tr>
                                                                <td height="80" style="height: 80px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                                            </tr>
                                                            <!-- end space -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- end container --></td>
                                    </tr>
                                    <!-- END LAYOUT-30 ( UNSUBSCRIBE )--><!-- start space -->
                                    <tr>
                                        <td bgcolor="#383838" height="20" style="background-color:#383838; height: 20px; font-size: 0px; line-height: 0; border-collapse: collapse;" valign="top"></td>
                                    </tr>
                                    <!-- end space -->
                                    </tbody>
                                </table>
</body>
</html>