<table id="header" border="0" cellpadding="0" cellspacing="0" width="100%" style="
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
">
    <tbody>
        <tr>
            <td style="padding: 0 !important;">
                <img
                        src="cid:kbHeader"
                        alt="Kiwibank Header"
                        width="100%"
                        style="
                            min-width: 100% !important;
                            width: 100% !important;
                            max-width: 100% !important;
                        "
                />
            </td>
        </tr>
    </tbody>
</table>