@darkBlue: #1b9dcf;
@lightBlue: #63bade;
@deepBlue: #1682ab;
@xeroBlue: #00ADE6;
@lightGreen: #66CC33;
@darkGreen: #3A5C52;
@darkHoverGreen: #4A7669;
@lightGrey: #9FA4A3;
@darkGrey: #3F4947;
@buttonLightGrey: #E3E5E4;
@bloodOrange: #d1001c;
@black: #000;
@darkFooterGrey: #BFC2C2;