@import "globalStyles.less";

.loanOrigination__link {
  color: @lightGreen;
}

.loanOrigination__link:hover {
  color: @lightGreen;
  cursor: pointer;
  text-decoration: underline;
}

.loanOriginationContainer {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.loanOriginationContainer__modal {
  position: fixed;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 16000000;
  top: 0;
  left: 0;
}

.loanOriginationContainer__modalScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.loanOrigination__form_container {
  position: relative;
  max-width: 648px;
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 100px 0 rgba(0,0,0,.2);
  height: 85%;
  border-radius: 3px;
  overflow: hidden;
}

:global(.MuiFormControl-root) {
  display: block;
  margin-bottom: 20px;
}

:global(.MuiInput-formControl) {
  width: 100%;
}

:global(.MuiInput-underline:hover:not(.Mui-disabled):before),
:global(.MuiInput-underline:after) {
  border-bottom: 2px solid @lightGreen;
}

:global(.MuiInput-input) {
  width: 100% !important;
  color: #000 !important;
  font-weight: 600 !important;
  height: 19px !important;
  box-sizing: content-box !important;
}

:global(.MuiSelect-select) {
  margin-top: 16px;
}

:global(input.MuiInput-input:-internal-autofill-selected),
:global(input.MuiInput-input:-webkit-autofill),
:global(input.MuiInput-input:-webkit-autofill:hover),
:global(input.MuiInput-input:-webkit-autofill:focus),
:global(input.MuiInput-input:-webkit-autofill:active) {
  background-color: #fff !important;
  -webkit-text-fill-color: @black;
}

:global(.MuiInput-input.MuiSelect-selectMenu) {
  font-weight: 400 !important;
}

:global(.MuiSelect-select:focus) {
  background: transparent !important;
}

:global(.MuiFormLabel-root) {
  color: @lightGrey;
}

:global(.MuiFormLabel-root.Mui-focused) {
  color: @lightGrey;
}

.loanOrigination__button_primary {
  background-color: @darkGreen;
  width: 100%;
  border-radius: 3px;
  padding: 20px 0;
  box-shadow: none;
  text-transform: none;
  cursor: pointer;
}

.loanOrigination__button_primary_align {
  display: flex;
  align-items: center;
  height: 100%;
}

.loanOrigination__button_primary.Mui-disabled {
  background-color: @buttonLightGrey;
  color: #B9BDBD;

}

.loanOrigination__button_primary:hover {
  background-color: @darkHoverGreen;
  color: #fff;
}

.loanOrigination__container_bottomMargin {
  margin-bottom: 20px;
}

.errorOutline {
  color: @darkFooterGrey;
  cursor: pointer;
}

.tooltipIcon {
  &:extend(.errorOutline);
  display: inline-block;
  font-size: 18px;
  top: 2px;
  position: relative;
}

:global(.MuiFormControlLabel-root.checked .MuiTypography-body1) {
  font-weight: 600 !important;
}

:global(.MuiCircularProgress-root) {
  color: #fff;
  height: 20px !important;
  width: 20px !important;
}

/* body blocks */
:global(.MuiTypography-body1) {
  font-size: 1rem !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.00938em !important;
}

.formTitle {
  font-size: 25px !important;
  line-height: 25px !important;
  font-weight: 600 !important;
  margin-bottom: 20px;
  color: @darkGrey  !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif  !important;
}

.loanOriginationContainer__titleContainer_FormTitle {
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  margin: 0 auto !important;
}

/* checkbox */
.loanOrgination__checkbox:hover {
  background-color: rgba(102, 204, 51, 0.15) !important;
}

.loanOrgination__checkbox {
  color: @lightBlue !important;
}

/* dropdowns */
:global(#menu-loanReason),
:global(#menu-salutation) {
  z-index: 16000001 !important;
}

/* tooltips */
:global(.MuiTooltip-popper) {
  z-index: 16000001 !important;
}

:global(.MuiTooltip-tooltip) {
  font-size: 14px;
  background: @darkGreen;
  padding: 10px;
}

/* Styles for autocomplete library */
:global(.react-autosuggest__container) {
  position: relative;
}

:global(.react-autosuggest__suggestions-container--open) {
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}

:global(.react-autosuggest__suggestions-container--open .react-autosuggest__suggestions-list) {
  list-style: none;
  background: #fff;
  padding: 0 !important;
  width: 100%;
  margin: 0 !important;
}

.reactAutosuggest__suggestionsInfo {
  padding: 10px 15px;
  background: #F1F2F2;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

:global(.MuiFormControl-root.react-autosuggest__input) {
  margin-bottom: 0;
}

.reactAutosuggest__container__suggestionsLoader {
  color: @lightGreen !important;
  position: absolute;
  top: 20px;
  right: 0;
}

:global(.react-autosuggest__suggestion) {
  color: #000;
  font-weight: 600;
  padding: 10px 15px;
}

:global(.react-autosuggest__suggestion--highlighted) {
  cursor: pointer;
  color: #fff;
  background-color: @lightGreen;
}

/* Styles for modals */
@modalOffset: 15px;
.modal {
  position: absolute;
  width: 400px;
  background: #fff;
  border: 0;
  padding: @modalOffset;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal:focus {
  outline: none;
}

.modalClose {
  color: #ccc;
  position: absolute;;
  right: @modalOffset;
  top: @modalOffset;
  background: transparent;
  border: 0;
  font-size: 30px;
  line-height: 20px;
  padding: 0;
}

/*
  Media Queries
 */
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:961px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:600px)  {
  /* small devices */
  .loanOriginationContainer__modal {
    padding-top: 0;
  }

  .loanOrigination__form_container {
    border-radius: 0;
    height: 100%;
  }

  .loanOrigination__container_content {
    margin: 10px auto;
  }
}
